{% extends "base.html" %}
{% block content %}

<h4>Collect and send diagnostics</h4>
To help our team diagnose issues with your device you can trigger a diagnostic dump. This collects logs, configuration and other information from the device and uploads it to our secure server.
<hr>
<a href="#" id="upgrade">Start</a>
<br>
<style>
    #output {
        background-color:whitesmoke;
        width:100%;
        min-height: 50px;
        padding-left:10px;
        padding-top:5px;
        border-left:solid 4px black;

        display: none;
    }
</style>

<div id="output"></div>

<script>
    $(function(){
        $("#upgrade").click(function(){
            $("#output").show();
            $("#output").html("Running dump now.....this may take a few minutes.");

            $.getJSON("/ajax/dump", function(data){
                $("#output").html(data.output);
            });
        });
    });
</script>
{% endblock %}