{% extends "base.html" %}
{% block content %}

    <span>
        Sphirewall can be connected to Linewize managed services provided jointly by Linewize and Sphirewall.
        For more information on the, visit <a href="http://linewize.com">http://linewize.com</a>
    </span>
    <form role="form" method="POST">
        <hr>
        <h4>Common Service Check</h4>
        <div>Below you can see if common services are configured and running, if its all green then its all good :)</div>
        <br>
        {% if device_id and device_key and cloud_connected %}
            <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-cloud"></i> It seems like your device is configured and connected to our cloud service.</div>
        {% endif %}

        {% if not cloud_connected %}
            <div class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-cloud"></i> It does not seem as though your device is connected to our cloud service, check the details.</div>
        {% endif %}

        {% if captive_portal_enabled %}
        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-user"></i> Captive Portal is Enabled</div>
        {% endif %}

        {% if not captive_portal_enabled %}
         <div class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-user"></i> Captive Portal is not Enabled</div>
        {% endif %}

        {% if network_configured %}
        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-signal"></i> Atleast one network interface is configured,
            {% for interface in network_devices %}
                {% if interface.interface != "lo" %}
                    {% for ip in interface.ipv4 %}
                        {{ interface.interface }} - {{ ip.ip }}/{{ ip.mask }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if not network_configured %}
         <div class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-signal"></i> No network interfaces are configured</div>
        {% endif %}

        <h4>Upgrade Device</h4>
        <span>Updates are rolled out weekly, to upgrade your device, click <a href="/upgrade">here</a></span>
        <hr>
        <h4>Collect Diagnostics</h4>
        <span>Run the diagnostic collector <a href="/dump">here</a></span>
        <hr>
        <h4>Set device password</h4>
        It is <b>highly</b> recommended that you change this password, otherwise unauthorised users will be able to manage and control your device.
        <br>
        <br>

        <div class="form-group">
            <input style="width:300px;" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input style="width:300px;" name="repassword" class="form-control" placeholder="Reenter Password">
        </div>

        <br>
        <h4 style="display:inline;">Configure Cloud Connection</h4>
        <br>
        <br>
        To connect your device to the cloud interface, you must have already configured a device. This can be done very easily <a href="https://cloud.linewize.net">here</a>.
        <br><br>

        <div class="form-group">
            <label>Device ID</label>
            <input style="width:300px;" name="device_id" class="form-control" value="{{ device_id }}" placeholder="Enter device identifier">
        </div>
        <div class="form-group">
            <label>Peer Key</label>
            <textarea style="width:300px;" type="text" name="device_key" class="form-control" placeholder="Enter provided secret">{{ device_key }}</textarea>
        </div>

        <input type="submit" class="btn btn-default" value="Save Configuration"/>
    </form>
    <hr>

{% endblock %}
