{% extends "header.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="centerblock">
                <h3>Network Login</h3>
                <hr>
                You have been logged in.
                {% if url %}
                    Click <a href="http://{{ url }}">http://{{ url }}</a> to continue navigating.
                {% endif %}

		Click <a href="/logout?ip={{ip}}">here</a> to logout.
            </div>
        </div>
    </div>
</div>
{% endblock %}
