{% extends "header.html" %}
{% block body %}

    <div class="container">
        <div class="row">
                <div class="centerblock">
            <div class="col-md-12">
                    <h3 style="padding-left: 20px;">Network Login</h3>
                    <hr>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
			    <div class="alert alert-warning" role="alert">{{message}}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
		</div>
	     </div>
	 <div class="row">
                <div class="centerblock">
		    <div class="col-md-6">
			<center>
			<img style="margin-bottom:20px;" src="static/LW_logo.png"/>
			</center>
		    </div>
		    <div class="col-md-6">
                    <form method="POST">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Login to Network</button>
                    </form>
		    </div>
		    </div>
			</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
