{% extends "header.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="centerblock">
                <h3>Network Login</h3>
                <hr>
                Great!! You have been logged out.
            </div>
        </div>
    </div>
</div>
{% endblock %}

