<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-1.10.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/bootstrap.css') }}">
</head>
<body>
{% block body %}
{% endblock%}
</body>
</html>
