.aw_category {
    display: block;
    padding: 10px;
}

.aw_category:hover {
    background-color: whitesmoke;
}

.aw_category_item_block {
    display: none;
}

.aw_category_item_block a {
    display: block;
    padding: 5px;
    color: #333333;
}

.aw_category_item_block a:hover {
    background-color: whitesmoke;
}

.aw_selected_option {
    background-color: whitesmoke;
}

.aws_selector {
    background-color: white;
    z-index: 1000;
    position: absolute;
    display: none;
    width: 410px;
    margin-top: 10px;
    border: solid 1px #cdcdcd;
    border-radius: 3px;
}

.aws_selector_categories {
    width: 150px;
    display: inline-table;
    border-right: solid 1px whitesmoke;
}

.aws_selector_items {
    width: 250px;
    display: inline-table;
}

.aw_category_all_item_block_link{
    margin-bottom:10px;
    border-bottom: solid 1px whitesmoke;
}

.aw_disabled_option {
    color: #cdcdcd !important;
}