
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    padding: 0px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    padding: 3px;
}

body, p, td, th, br, center {
    font: 0.8125em Arial, sans-serif;
}

h1 {
    color: #333333;
    font-size: 150%;
    font-family: sans-serif;
}

small.rule_comment {
    padding-left: 20px;
}

#content {
    position: absolute;
    left: 215px;
    right: 4px;
    margin-left: 15px;
    padding-top: 4px;
}

.line {
    padding-bottom: 3px;
}

.inner-form-label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 150px;
    font-weight: bolder;
    padding-top: 5px;
}

.error {
    font-size: 7pt;
    color: #FF0000;
}

.validate {
    font-size: 10pt;
    color: #000000;
}

div.dataTables_filter {
    margin-bottom: 3px;
    padding-top: 13px;
    width: 99%;
    margin-bottom: 3px;
    height: 26px;
    background-color: #fcf8e3;
    border-top: solid 1px #fbeed5;
    border: solid 1px #fbeed5;
    margin-top: 9px;
}

div.dataTables_filter > label {
    float: right;
}

span.filter_title {
    padding-top: 6px;
    float: left;
    margin-top: 0px;
    position: relative;
    margin-left: -13px;
}

div.dropdownmenu_options {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: solid 1px #CDCDCD;
    z-index: 3;
    width: 160px;
}

div.dropdownmenu_title {
    width: 100%;
    border-bottom: solid 1px gray;
    margin-bottom: 6px;
    font-weight: bold;
}

div.dropdownmenu_links {
    padding-left: 5px;
}

span.filtering {
    font-size: 14px;
    font-weight: bold;
    right: 10px;
    position: absolute;
    top: 127px;
}

hr.barrier {
    border-color: #CDCDCD;
}

span.status {
    position: absolute;
    right: 0px;
    color: white;
    padding: 5px;
}

span.fieldname {
    font-weight: bold;
    display: block;
}

span.fielddesc {
    font-size: 11px;
}

.breadcrumbs {
    padding: 1px 0px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.breadcrumbs > ul > li {
    display: inline-block;
    display: inline;
    zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}

.breadcrumbs > ul > li > a {
    color: #0088cc;
    font-size: 15px;
}

.breadcrumbs > ul > li > .divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumbs > .active {
    color: #999999;
}

.header-status {
    position: absolute;
    left: 172px;
    width: 100px;
    font-size: 10px;
    padding-top: 4px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 17px;
}

#content-body {
    position: absolute;
    right: 160px;
    left: 10px;
}

#content-nav {
    right: 0px;
    position: absolute;
    width: 150px;
}

#banner {
    height: 64px;
    margin-left: -15px;
    margin-right: -10;
    position: relative;
    z-index: 1;
    border-bottom: solid 1px whitesmoke;
    margin-bottom: 14px;
}

#banner-breadcrumb ul {
    display: inline;
    list-style: none;
}

#banner-breadcrumb ul > li {
    position: relative;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bolder;
    list-style: none;
    display: inline-block;
    left: -25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#banner-menu {
    position: absolute;
    right: 0px;
    top: 7px;
}

#banner-breadcrumb ul > li {
    color: black;
}

#banner-breadcrumb ul > li > a {
    color: inherit;
}

/*#banner-breadcrumb ul > li:before {*/
/*content: " :: ";*/
/*font-size: 15;*/
/*}*/

/*#banner-breadcrumb ul:last-child {*/
/*color: black !important;*/
/*}*/

#banner-description {
    width: 85%;
    padding: 5px;
    padding-left: 15px;
}

#dropdownmenu ul {
    padding: 0px;
    margin: 0px;
}

#dropdownmenu ul > li {
    list-style: none;
    display: inline-block;
    width: 140px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
}

#dropdownmenu ul > li:hover {
    background-color: #4E6CA3;
    font-color: white;
}

#dropdownmenu ul > li > a:hover {
    color: white;
}

#tlsproperties td {
    border: none;
}

#lowerheader {
    width: 100%;
    height: 20px;
    background-color: gray;
    position: relative;
}

.notopborder {
    border-top: none !important;
}

.abody {
    width: 100%;
    padding-left: 2px;
}

.aheading {
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-right: 2px;
    margin-bottom: 12px;
}

.aheading span {
    display: inline-block;
    top: 9px;
    background: #fff;
    font-weight: bolder;
    padding-bottom: 5px;
    padding-top: 5px;
}

.aformcontent {
    display: inline;
    left: 8px;
    position: relative;
    float: left;
    width: 75%;
}

select.chosen-select {
    width: 300px;
}

.aformlabel {
    width: 20%;
    float: left;
    padding-top: 5px;
    clear: both;
}

.aformgroup {
    overflow: overlay;
    padding-bottom: 9px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.aformdescription {
    display: block;
    left: 122px;
    position: relative;
    color: gray;
    margin-top: 5px;
}

.aformcheckboxdescription {
    display: inline;
    left: 10px;
    position: relative;
    color: gray;
}

.agroup {
    display: inline;
    left: 8px;
    position: relative;
}

.agrouplabel {
    width: 120px;
    float: left;
    text-align: right;
}

.agroupcontent {
    padding-bottom: 9px;
}

.half {
    width: 49%;
    display: inline-block;
}

span.link {
    padding: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

span.link a {
    margin-right: 4px;
    margin-top: 4px;
}

span.link i {
    top: -2px;
    position: relative;
}

.link > a {
    font-size: 18px;
    color: white;
}

span.header-links {
    position: absolute;
    left: 219px;
    height: 50px;
    padding: 10px;
    top: 6px;
    /* color: white; */
}

#device-summary {
    color: white;
    font-size: 13px;
    font-weight: 100;
}

.dataTables_wrapper {
    margin-top: -10px;
}

.paddingtop {
}

div.alert {
    width: 96%;
    background-color: #fcf8e3;
    padding: 10px;
    border-radius: 3;
    border: solid 1px #fbeed5;
    margin-bottom: 3px;
}

div.alert-info {
    position: absolute;
    right: 0px;

    width: 40%;
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 3;
    border: solid 1px #bce8f1;
    margin-bottom: 12px;
    color: #31708f;
    margin-left: 9px;
}

#feedback {
    position: fixed;
    width: 25%;
    z-index: 2000;
    left: 0px;
    top: 36px;
    left: 35%;
    padding: 5px;

    background-color: #FFC;
    border: #FD2 1px solid;
    color: #630;
    padding: 1em;
    font-size: 0.929em;
}

.tag {
    background: none repeat scroll 0 0 rgb(101, 158, 247);
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 1px 20px 1px 4px;
    margin: 0px 10px 0 0;
}

.tag .tag-i {
    color: white;
    cursor: pointer;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 10px;
}

.tag .tag-i:hover {
    color: black;
    text-decoration: underline;
}

.type-zone {
    border: 1px solid rgb(210, 210, 210);
    height: auto;
    width: 135px;
    display: inline-block;
    border-radius: 3px;
}

.above-table-btn {
    float: right;
    margin-top: -4px;
    margin-bottom: 3px !important;
}

.above-table {
    width: 99%;
}

