{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-alerting");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Configure Alerting and Logging</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust event handling and alerting configuration
        </div>

    </div>
    <br>
    <form id='form' method=POST>

        <div class="aheading">
            <span>Log Settings</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                    <span class="aformlabel">
                        Log Events
                    </span>

                <div class="aformcontent">
                    <input {% if logging %} CHECKED {% endif %} class="validate" name="log" type="checkbox"/>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="aheading">
            <span>Connectivity Monitoring</span>
        </div>
        <div class="abody">
            <div class="block">
                <form id="form" class="form-horizontal" method=POST>
                    <div class="aformgroup">
                    <span class="aformlabel">
                        Google Ping Test
                    </span>

                        <div class="aformcontent">
                            <input type="checkbox" name="monitorGoogle" {% if monitorGoogle %} CHECKED {% endif %}>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="aheading">
            <span>Remote Syslog Server</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                    <span class="aformlabel">
                        Enabled
                    </span>

                <div class="aformcontent">
                    <input {% if remote_syslog_enabled %} CHECKED {% endif %} class="validate" name="remote_syslog_enabled" type="checkbox"/>
                </div>
            </div>
            <div class="aformgroup">
                    <span class="aformlabel">
                        Hostname
                    </span>

                <div class="aformcontent">
                    <input class="validate" name="remote_syslog_hostname" type="text" value="{{ remote_syslog_hostname }}"/>
                </div>
            </div>
            <div class="aformgroup">
                    <span class="aformlabel">
                        Port
                    </span>

                <div class="aformcontent">
                    <input class="validate" name="remote_syslog_port" size=5 value="{{ remote_syslog_port }}" type="text"/>
                </div>
            </div>
        </div>

        <br><br>

        {% if g.edgewize %}
            <div class="aheading">
                <span>Email Alert Notifications</span>
            </div>
            <div class="abody">
                <div class="aformgroup">
                <span class="aformlabel">
                Event type:
                </span>

                    <div class="aformcontent">
                        <input {% if alert.webfilter_hit %} CHECKED {% endif %} class="validate" name="webfilter_hit" type="checkbox"/>
                        Application layer filtering hits
                    </div>
                </div>
            </div>
            <hr>
            <div class="aformgroup">
            <span class="aformlabel">
                Send Alerts to:
            </span>

                <div class="aformcontent">
                    <input {% if alert.all_device_owners %} CHECKED {% endif %} class="validate" name="all_device_owners" type="checkbox"/>
                    All device owners
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
            </span>

                <div class="aformcontent">
                    <input {% if alert.all_device_admins %} CHECKED {% endif %} class="validate" name="all_device_admins" type="checkbox"/>
                    All device managers
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Additional alert recipients emails:
            </span>

                <div class="aformcontent">
                    <input class="validate" name="additional_alert_recipients" value="{{ alert.additional_alert_recipients }}" type="text"/>
                </div>
            </div>

            </form>
        {% endif %}
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}
