{% extends "header.html" %}
{% block content %}

<script>
    $(function(){
        window.setTab("status", "status-dashboard");

        var data = [];
            $.getJSON("/device/analytics/metrics/firewall.conntracker.tcp.size", function (dataset) {
                data = [];
                for (var i = 0; i < dataset.result.length; i++) {
                    var items = [new Date(dataset.result[i].time * 1000), dataset.result[i].value];
                    data.push(items);
                }

                $.plot($("#connections"),
                        [
                            {label: name, data: data}
                        ], {xaxis: {mode: 'time'}, lines: {fill: true},
                            grid: {
                                borderWidth: 1,
                                borderColor: '#ccc'
                            }

                        });
            });

            $.getJSON("/device/analytics/metrics/firewall.transfer.persec", function (dataset) {
                data = [];
                for (var i = 0; i < dataset.result.length; i++) {
                    var items = [new Date(dataset.result[i].time * 1000), dataset.result[i].value / window.MEGABIT];
                    data.push(items);
                }

                $.plot($("#transfer"),
                        [
                            {label: name, data: data}
                        ], {xaxis: {mode: 'time'}, lines: {fill: true},
                            grid: {
                                borderWidth: 1,
                                borderColor: '#ccc'
                            }

                        });
            });
    });
</script>

<br>
<div class="abody">
    <div class="alert">
    <span class="message"><b>Welcome:</b> Welcome to {{ g.productname }}. For documentation see our wiki, <a target="_blank" href="http://wiki.sphirewall.net">here</a></span>
    </div>
</div>
<br>
<div class="aheading">
    <span>Active Connections</span>
</div>

<div class="abody">
    <div id="connections" style="width: 99%; height: 120;"></div>
</div>
<br>
<br>

<div class="aheading">
    <span>Transfer Rate (in Megabit)</span>
</div>

<div class="abody">
    <div id="transfer" style="width: 99%; height: 120;"></div>
</div>

<br>
<br>
<div class="aheading">
    <span>Vital Information</span>
</div>
<div class="abody">
    <div class="agroup">
        <span class="agrouplabel">Total Connections:</span>

        <div class="agroupcontent"><a id="activeconnections" href="/device/status/connections">{{totalConnection}}</a></div>
    </div>

    <div class="agroup">
    <span class="agrouplabel">Active Users:</span>

        <div class="agroupcontent"><a id="authenticatedusers" href="/device/status/users">{{totalUsers}}</a></div>
    </div>
    <div class="agroup">
        <span class="agrouplabel">Active Hosts:</span>

        <div class="agroupcontent"><a id="clients" href="/device/status/hosts">{{totalHosts}}</a></div>
    </div>

    <div class="agroup">
        <span class="agrouplabel">Events Alerted:</span>

        <div class="agroupcontent"><a id="events" href="/device/status/events">{{events | safe}}</a></div>
    </div>
</div>
<br>
<br>

<div class="aheading">
    <span>Sphirewall Details</span>
</div>
<div class="abody">
    <div class="agroup">
        <span class="agrouplabel">Release/Build:</span>

        <div class="agroupcontent"><span id="version"></span> <span id="versionname">{{version.version | safe}} -- {{version.name | safe}}</span></div>
    </div>
</div>
{% endblock %}
