{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("tools", "tools-traceroute");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#">Tools</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Perform a traceroute on your network
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <br>
    <div class="aheading">
        <span>Network Tool</span>
    </div>
    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">
                Hostname
            </span>

            <div class="aformcontent">
                <input id="hostname" name="hostname" type="text" class="validate" size=30>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
            </span>

            <div class="aformcontent">
                <input id="traceroute_submit" type="submit" value="Traceroute"/>
                <input id="clear" type="submit" value="Clear Results"/>
            </div>
        </div>
    </div>
    <div id="resultsdiv">
        <div class="aheading">
            <span>Result</span>
        </div>

        <div class="abody">
            <div id="result">
            </div>
        </div>
    </div>
    <script>
        function traceroute() {
            $("#summarypills").hide();

            $.getJSON("/device/tools/ajax/traceroute/" + $("#hostname").val(), function (result) {
                $("#result").html(result.result);
            });
        }


        $(function () {
            $("#resultsdiv").hide();
            $("#traceroute_submit").click(function () {
                $("#resultsdiv").show();
                traceroute();
            });

            $("#clear").click(function () {
                $("#resultsdiv").hide();

                $("#result").html("");
                $("#successCount").html("-");
                $("#failCount").html("-");
                result_set = [];

                clearInterval(timer);
                timer = undefined;
            });


        });
    </script>
{% endblock %}