{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-wan");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        });
    </script>
    <script>
        function scrollLogToEnd() {
            var objDiv = document.getElementById("logview");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        $(function () {
            scrollLogToEnd();
        });
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="#" class="last">Tor Gateway</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage the Tor transparent gateway configuration.
        </div>
        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>

            {% if not status %}
                <a id="start-button" class="btn" href="/device/network/tor/start">Start</a>
            {% endif %}

            {% if status %}
                <a id="start-button" class="btn" href="/device/network/tor/stop">Stop</a>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="aheading">
            <span>Configuration</span>
        </div>

        <div class="abody">
            <script>
                $(document).ready(function () {
                    $("#form1").validate({
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parent("div"));
                        },

                        rules: {
                            ssid: {required: true, nowhitespace: true},
                        },

                        messages: {
                        },

                        submitHandler: function () {
                            form1.submit();
                        },
                    });
                });
            </script>
            <form id="form1" name="form1" method=POST>
                <div class='aformgroup'><span class='aformlabel'>Enabled:</span>

                    <div class='aformcontent'><input name='enabled' type="checkbox" {% if enabled %} CHECKED {% endif %}>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Dns Forwarder:</span>

                    <div class='aformcontent'><input name='dns' type="checkbox" {% if dns %} CHECKED {% endif %}>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Interface:</span>

                    <div class='aformcontent'>
                        <select name="interface">
                            {% for device in devices %}
                                <option value="{{ device.interface }}" {% if interface == device.interface %} SELECTED {% endif %}>{{ device.interface }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
            </form>
        </div>
        <div id="log">
            <div class="aheading">
                <span>Logfile</span>
            </div>
            <div id="logview" class="abody" style="overflow-y: scroll; max-height:300px;">
                <p>
                    {{ logs| safe }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}