{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-audit");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Connection Auditing</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Connection auditing provides a logfile of all tracked connections, including application layer information and user histories.
        </div>

        <div class="rightbuttons">
        </div>
    </div>
    <br>

    <form id='form' method=POST>
        <div class="aheading">
            <span>Audit Logfile</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Enabled</span>

                <div class="aformcontent">
                    <input class="validate" type="checkbox" name="enabled" {% if enabled %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Directory</span>

                <div class="aformcontent">
                    <input class="validate" type=text name="directory" value="{{ directory }}"/>
                </div>
            </div>
        </div>
        <br>
        <br>


        <div class="aheading">
            <span>External Auditing Http Listener</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Enable Auditing</span>

                <div class="aformcontent">
                    <input type="checkbox" name="analyticslistener_enabled" value="{{ analyticslistener_enabled }}" {% if analyticslistener_enabled %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Url</span>

                <div class="aformcontent">
                    <input class="validate" type="text" value="{{ analyticslistener_url }}" name="analyticslistener_url"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Device Id</span>

                <div class="aformcontent">
                    <input class="validate" type="text" value="{{ analyticslistener_deviceid }}" name="analyticslistener_deviceid"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Token</span>

                <div class="aformcontent">
                    <input class="validate" type="text" value="{{ analyticslistener_token }}" name="analyticslistener_token"/>
                </div>
            </div>
        </div>
        <br>

    </form>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}
