{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-logs");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">System Log</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View System Log
        </div>

        <div class="rightbuttons">
            <a class="bbtn bbtn-save" href="/device/configuration/logging">Configure Logging</a></div>
    </div>

    <div class="aheading">
        <span>Filter Log</span>
    </div>
    <br>
    <div class="abody">
        <form method="POST">
            Filter Expression: <input value="{{ filter }}" name="filter" type="text" onchange="submit();"/>
            Number of Lines: <input value="{{ no_lines }}" name="no_lines" type="text" onchange="submit();"/>
        </form>
    </div>

    <div class="aheading">
        <span>View System Log</span>
    </div>
    <br>
    <script>
        $(function () {
            var objDiv = document.getElementById("logview");
            objDiv.scrollTop = objDiv.scrollHeight;
        });
    </script>
    <div id="logview" class="abody" style="overflow-y: scroll; height:500px;">
        {{ logs | safe }}
    </div>

{% endblock %}