{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-hosts");
            $("#save-button").click(function () {
                $("form:first").submit();
            });

            window.setupDateTimeDecorators();
        });
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Active Host: {{ host.host }}/{{ host.hw }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage an Active Host
        </div>
        <div class="rightbuttons">
            <a id="save-button" class='btn' href='#'>Save</a>
        </div>
    </div>

    {% if not host %}
        <div class="alert">
            <span class="message">This requested host could not be found on the device.</span>
        </div>
    {% endif %}

    {% if host %}
        <div id="editUserContent">
            <div id="details">
                <div class="aheading">
                    <span>Host details</span>
                </div>

                <div class="abody">
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Mac Address</span>

                        <div class="aformcontent-text">
                            <span>{{ host.hw }}</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Current Ip</span>

                        <div class="aformcontent-text">
                            <span>{{ host.host }}</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Hostname</span>

                        <div class="aformcontent-text">
                            <span>{{ host.hostname }}</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">User</span>

                        <div class="aformcontent-text">
                            <span>
                                {% if host.user %}<a href="/device/status/user/{{ host.user }}">{{ host.user }}</a>{% endif %}
                                {% if not host.user %}<i>No User</i>{% endif %}
                            </span>
                        </div>
                    </div>

                    <hr>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Total Packets</span>

                        <div class="aformcontent-text">
                            <span>{{ host.total_packet_count }}</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Total Transfer</span>

                        <div class="aformcontent-text">
                            <span class="amountdecorator">{{ host.total_transfer_count}} bytes</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Active Connections</span>

                        <div class="aformcontent-text">
                            <span><a href="/device/status/connections?host={{ host.hw }}&ip={{ host.host }}">{{ host.total_active_connections }}</a></span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Ping Latency</span>

                        <div class="aformcontent-text">
                            <span>
                                {% if latency == -1 %}
                                    <i>Timeout Out</i>
                                {% endif %}
                                {% if latency != -1 %}
                                    {{ latency }}ms
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">First Seen</span>

                        <div class="aformcontent-text">
                            <span class="datetimedecorator">{{ host.loginTime }}</span>
                        </div>
                    </div>
                    <div class="aformgroup aformgroup_small">
                        <span class="aformlabel">Last Seen</span>

                        <div class="aformcontent-text">
                            <span class="datetimedecorator">{{ host.lastSeenTime }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div id="editUserContent">
            <div id="details">
                <form id=form1 method=POST name=form1>
                    <div class="aheading">
                        <span>Configuration</span>
                    </div>

                    <div class="abody">
                        <div class="aformgroup">
                            <span class="aformlabel">Quarantined</span>

                            <div class="aformcontent">
                                <input type="checkbox" name="quarantined" {% if host.quarantined %} CHECKED {% endif %}>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}