{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-general");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        });
    </script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">General Options</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust general configuration options
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },

                rules: {
                    session_timeout: {required: true, number: true},
                    bandwidth_port: {required: true, number: true},
                    threshold: {required: true, number: true},
                    retension: {required: true, number: true},
                    cp_url: {required: false, url2: true},
                    http_baseurl: {required: false, url2: true},

                },

                messages: {
                    session_timeout: "Please enter a valid session timeout",
                    bandwidth_port: "Please enter a valid port number",
                    threshold: "Please enter a valid number",
                    retension: "Please enter a valid number",
                    cp_url: "Please enter a valid url",
                    http_baseurl: "Please enter a valid url",
                }
            });

            $(".chosen-select").chosen();
        });
    </script>
    <br>
    <form id='form' method=POST>
        <div class="aheading">
            <span>General Options</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Disable Remote Api Access</span>

                <div class="aformcontent">
                    <input id="disable_remote_management"
                           title="Disable api administration from remote hosts. When this is checked, we will only accept api calls from the localhost"
                           name="disable_remote_management" {% if disable_remote_management %} CHECKED {% endif %}
                           type="checkbox"/>
                </div>
            </div>
        </div>
    </form>

    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}