{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-dyndns");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Global Dynamic Dns</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Setup global dynamic dns, this uses discovery to determine your ip address
        </div>
    </div>

    <div class="aheading">
        <span>Global Dynamic Dns</span>
    </div>
    <div class="abody">
        <script>
            $(document).ready(function () {
                $("#form").validate({
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent("div"));
                    },

                    rules: {
                        username: {required: true, nowhitespace: true},
                        password: {required: true},
                        domain: {required: true, nowhitespace: true},
                    },

                    messages: {
                    },

                    submitHandler: function () {
                        form.submit();
                    },
                });
            });
        </script>
        <form id="form" method="POST">
            <div class="aformgroup">
            <span class="aformlabel">
                Enabled
            </span>

                <div class="aformcontent">
                    <input name="enabled" type="checkbox" class="validate" {% if config.enabled %} CHECKED {% endif %} size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Provider
            </span>

                <div class="aformcontent">
                    <select name="type">
                        <option value="0" {% if config.type == 0 %} SELECTED {% endif %}>dyndns.org</option>
                        <option value="1" {% if config.type == 1 %} SELECTED {% endif %}>freedns.afraid.org</option>
                    </select>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Username
            </span>

                <div class="aformcontent">
                    <input id="username" name="username" class="validate" value="{{ config.username|safe }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Password
            </span>

                <div class="aformcontent">
                    <input id="password" name="password" type="password" class="validate" value="{{ config.password|safe }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Domain
            </span>

                <div class="aformcontent">
                    <input id="domain" name="domain" type="text" class="validate" value="{{ config.domain|safe }}" size=15>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}