{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-mdns");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#slaves").val([
                {% for device in bridge.slaves %}
                "{{ device }}",
                {% endfor %}
            ]);

            $(".chosen-select").chosen();
        });
    </script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/mdns">Manage a Mdns/Bonjour Gateway</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="aheading">
            <span>Configuration</span>
        </div>

        <div class="abody">
            <form id="form1" name="form1" method=POST>
                <div class='aformgroup'><span class='aformlabel'>Name:</span>

                    <div class='aformcontent'><input class="validate" name="name" type="text" value="{{ bridge.name }}">
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Interfaces:</span>

                    <div class='aformcontent'>
                        <select class="chosen-select" placeholder="" id="slaves" name="slaves" multiple>
                            {% for device in devices %}
                                <option value="{{ device.interface }}">{{ device.interface }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}