{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-firewall");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Firewall Rules</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the Sphirewall
        </div>

        <div class="rightbuttons">

        </div>
    </div>

    <div id="acls">
        <div class="aheading">
            <span>Layer 2/3 Filtering</span>
            <a class="bump-right" href="/device/firewall/acls/normal/add?mode=filtering">Add new Layer 2/3 rule</a>
        </div>

        <div class="abody">
            <table class="list noresultstable paddingtop border">
                <thead>
                <th></th>
                <th>Action</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Name</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for rule in filter %}
                    <tr>
                        <td>
                            <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/toggle/{{ rule.id }}?caller=/firewall/filtering'>
                                <input type=checkbox value=on name=enabled {% if rule.enabled %} CHECKED {% endif %} onchange='submit();'/>
                            </form>
                        </td>
                        <td>
                            {% if rule.action == 0 %} Deny {% endif %}
                            {% if rule.action == 1 %} Allow {% endif %}
                            {% if rule.log %} and <b>log</b> {% endif %}
                            {% if rule.ignoreconntrack %} and <b>dont track</b> {% endif %}
                        </td>
                        <td>
                            {{ rule.source_string }}
                        </td>
                        <td>
                            {{ rule.destination_string }}
                        </td>
                        <td>{{ rule.comment }}</td>
                        <td>
                            <a><i id="rule_info_{{ rule.id }}" class="icon-search tooltip"></i></a> |
                            <a href="/device/firewall/acls/normal/add/{{ rule.id }}?mode=filtering" class="edit-link"><i class="icon-edit"></i></a>
                            <a href="/device/firewall/acls/up/{{ rule.id }}" class="up-link"><i class="icon-arrow-up"></i></a>
                            <a href="/device/firewall/acls/down/{{ rule.id }}" class="down-link"><i class="icon-arrow-down"></i></a>
                            <a href="/device/firewall/acls/delete/{{ rule.id }}" class="delete-link"><i class="icon-remove"></i></a>
                        </td>

                        <script>
                            var markup = "<div><b>Statistics and Information</b></div><hr>";
                            markup += "<div>No. Hits: " + {{ rule.hits  }}+" </div>";
                            if ({{ rule.last_hit }} != 0){
                                markup += "<div>Last Hit: " + new Date({{ rule.last_hit }} * 1000)+" </div>";
                            }

                            $("#rule_info_{{ rule.id }}").tooltipster({theme: "tooltipster-shadow"});
                            $("#rule_info_{{ rule.id }}").tooltipster('content', $(markup));
                        </script>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
