{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network", "network-clientvpn");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#groups").val(
                    [
                        {% for group in vpn.allowed_groups %}
                            "{{ group}}",
                        {% endfor %}
                    ]
            );

            $("#user_authentication_mode").val("{{ vpn.user_authentication_mode }}");
            $(".chosen-select").chosen();

            $("#user_authentication_mode").change(function () {
                if ($("#user_authentication_mode").val() == "1") {
                    $("#allowed_groups").show();
                } else {
                    $("#allowed_groups").hide();
                }
            });
            $("#user_authentication_mode").change();

            $("#local_device").val(
                    "{{ vpn.local_device }}"
            );
        })
    </script>

    <style>
    </style>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Client VPN Server</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Setup and configure your IPSec L2TP vpn
        </div>
    </div>
    <br>

    {% if vpn.status %}
        <div class="positive">
            <b>Status: </b> The L2tp IPsec VPN is running and listening for requests on port 1701.
        </div>
    {% endif %}

    {% if not vpn.status %}
        <div class="negative">
            <b>Status: </b> The L2tp IPsec VPN is not currently running
        </div>
    {% endif %}

    {% if vpn.active_clients | length > 0 %}
        <div class="positive">
            <b>Clients: </b> There are currently <a href="/device/network/clientvpn/clients">{{ vpn.active_clients | length }} active clients </a> connected to the VPN server.
        </div>
    {% endif %}

    {% if vpn.active_clients | length == 0 %}
        <div class="negative">
            <b>Clients: </b> There are currently <a href="/device/network/clientvpn/clients">{{ vpn.active_clients | length }} active clients </a> connected to the VPN server.
        </div>
    {% endif %}

    <br>
    <div id="openvpn">
        <div id="settings">
            <form id=form1 method="POST">
                <div class="aheading">
                    <span>General Server Options</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Enabled</span>

                        <div class="aformcontent">
                            <input type="checkbox" name="auto_start" {% if vpn.auto_start %} CHECKED {% endif %}/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Autoconfigure Firewall</span>

                        <div class="aformcontent">
                            <input type="checkbox" name="auto_configure_firewall" {% if vpn.auto_configure_firewall %} CHECKED {% endif %}/>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="aheading">
                    <span>VPN Configuration</span>
                </div>

                <div class="abody">

                    <div class="aformgroup">
                        <span class="aformlabel">Authentication</span>

                        <div class="aformcontent">
                            <select name="auth_mode" id="auth_mode">
                                <option value="1" SELECTED>Preshared Key</option>
                            </select>

                            <input class="validate" type="text" name="secret_key" value="{{ vpn.secret_key }}"/>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Interface</span>

                        <div class="aformcontent">
                            <select id="local_device" name="local_device">
                                {% for device in devices %}
                                    <option value="{{ device.interface }}">{{ device.interface }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>

                    <div class="aformgroup">
                        <span class="aformlabel">Allocate Addresses</span>

                        <div class="aformcontent">
                            <input class="validate" type="checkbox" name="vpn_assign_ip" value="{{ vpn.vpn_assign_ip }}" {% if vpn.vpn_assign_ip %} CHECKED {% endif %}/>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">VPN Ip Range</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="vpn_remote_ip_range_start" value="{{ vpn.vpn_remote_ip_range_start }}"/> -
                            <input class="validate" type="text" name="vpn_remote_ip_range_end" value="{{ vpn.vpn_remote_ip_range_end }}"/>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">VPN Local Address</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="vpn_local_ip" value="{{ vpn.vpn_local_ip }}"/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Provide DNS</span>

                        <div class="aformcontent">
                            <input class="validate" type="checkbox" name="provide_dns" {% if vpn.provide_dns %} CHECKED {% endif %}/>
                            <input class="validate" type="text" name="dns_ns1" value="{{ vpn.dns_ns1 }}"/>
                            <input class="validate" type="text" name="dns_ns2" value="{{ vpn.dns_ns2 }}"/>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="aheading">
                    <span>User Authentication</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Type:</span>

                        <div class="aformcontent">
                            <select id="user_authentication_mode" name="user_authentication_mode">
                                <option value="0">None</option>
                                <option value="1">Sphirewall</option>
                                <option value="2">Linux PAP</option>
                                <option value="3">Linux CHAP</option>
                            </select>
                        </div>
                    </div>

                    <div id="allowed_groups">
                        <div class="aformgroup">
                            <span class="aformlabel">Allowed Groups:</span>

                            <div class="aformcontent">
                                <select multiple class="chosen-select" name="groups" id="groups">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}