{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
        window.setTab("network", "network-clientvpn");
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Client VPN Active Clients</a></li>
            </ul>
        </div>
        <div id="banner-description">
        </div>
    </div>

    <div class="aheading">
        <span>Active Client Connections</span>
    </div>

    <div class="abody">
        <table class="list noresultstable border border">
            <thead>
            <th>User</th>
            <th>Local Address</th>
            <th>Remote Address</th>
            <th>Interface</th>
            </thead>

            {% for connection in vpn.active_clients %}
            <tr>
                <td>
                    {{ connection.username }}
                </td>
                <td>
                    {{ connection.local_ip }}
                </td>
                <td>
                    {{ connection.remote_ip }}
                </td>
                <td>
                    {{ connection.ifname }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
{% endblock %}