{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-connections");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Active Connections States</a></li>
            </ul>
        </div>
        <div id="banner-description">
            The graphs below should help you understand how well your network and device are managing connections.
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>


    <div class="aheading">
        <span>Pending Connections (SYN/ACK)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_synsynack" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Acknowledged Pending Connections (SYN/ACK/ACK)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_synackack" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Established Connections</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_tcpup" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Requested Fin Connections (FIN/WAIT)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_finwait" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Close Wait Connections (CLOSE/WAIT)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_closewait" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Last ACK Connections (FIN/ACK)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_lastack" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Time Wait Connections (TIME/WAIT)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_timewait" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Fin Acknowledged Connections (TIME/WAIT)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_finfinack" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Closed Connections</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_closed" style="width: 99%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Reset Connections (RST)</span>
    </div>
    <br>

    <div class="abody">
        <div id="connections_reset" style="width: 99%; height: 150px;"></div>
    </div>

    <br>
    <script>
        render_metric("firewall.conntracker.tcp.synsynack", "#connections_synsynack");
        render_metric("firewall.conntracker.tcp.synackack", "#connections_synackack");
        render_metric("firewall.conntracker.tcp.tcpup", "#connections_tcpup");
        render_metric("firewall.conntracker.tcp.finwait", "#connections_finwait");
        render_metric("firewall.conntracker.tcp.closewait", "#connections_closewait");
        render_metric("firewall.conntracker.tcp.lastack", "#connections_lastack");
        render_metric("firewall.conntracker.tcp.timewait", "#connections_timewait");
        render_metric("firewall.conntracker.tcp.finfinack", "#connections_finfinack");
        render_metric("firewall.conntracker.tcp.closed", "#connections_closed");
        render_metric("firewall.conntracker.tcp.reset", "#connections_reset");

    </script>
{% endblock %}