{% extends "header.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("status");
        window.setTab("status", "status-logs");
    });
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Logging</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage log levels
    </div>
</div>
<br>

<div class="aheading">
    <span>Enable Critical Path Logging</span>
</div>
<div class="abody">

    <form id="form2" method='POST' action="/device/configuration/logging/critical">
        <td><input class="validate" type="checkbox" name='critical' {% if critical %} CHECKED {%endif%}/></td>
        <td><input type='submit' value="Update"></td>
    </form>
</div>
<br>
<div class="aheading">
    <span>Log levels and contexts</span>
</div>
<div class="abody">

    <form id="form" method='POST'>
        <table id="users" class="list border filtered export paging">
            <thead>
            <th>Context</th>
            <th>Priority</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for log in logging%}
            <tr>
                <td>{{log.context}}</td>
                <td>
                    {% if log.level == 0 %} CRITICAL {%endif%}
                    {% if log.level == 1 %} ERROR {%endif%}
                    {% if log.level == 2 %} EVENT {%endif%}
                    {% if log.level == 3 %} INFO {%endif%}
                    {% if log.level == 4 %} DEBUG {%endif%}
                </td>
                <td><a href="/device/configuration/logging/{{log.context}}/delete">Remove</a></td>
            </tr>
            {% endfor %}
            <tfoot>
            <td><input class="validate" name='context' class='validate' size='30' placeholder='Context'/></td>
            <td>
                <select name="level">
                    <option value="0">CRITICAL</option>
                    <option value="1">ERROR</option>
                    <option value="2">EVENT</option>
                    <option value="3">INFO</option>
                    <option value="4">DEBUG</option>
                </select>
            </td>
            <td><input id='submit' type='submit' value="Add"></td>
            </tfoot>
            </tbody>
        </table>
    </form>
</div>

{%endblock %}