{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-wan");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <script>
        $(function () {
            $("#sourceDevice").val("{{rule.sourceDevice}}");
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Add Forwarding Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Create or edit a forwarding rule
        </div>
    </div>

    <form id="form" method=POST>
        <div class="aheading" data-for="sourceInfo">
            <span>Criteria</span>
        </div>

        {% include "device_standard_criteria.html" %}

        <script>
            $(function () {
                $("#sourceInterfaceCriteria").show();
                $("#sourceInterfaceCriteriaEnabled").prop('checked', true);

                $("#destPortCriteria").show();
                $("#destPortCriteriaEnabled").prop('checked', true);
            });
        </script>

        <br>
        <div class="aheading" data-for="sourceInfo">
            <span>Action</span>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
        Forward to
        </span>
            <div class="aformcontent">
                <input title="Destination Ip" name="forwardingDestination" value='{{ rule.forwardingDestination }}'
                       class='validate' placeholder="Forward IP"/>
                <input title="Single port" name="forwardingDestinationPort" size=5
                       value='{{ rule.forwardingDestinationPort }}' class='validate' placeholder="Port"/>

            </div>
        </div>
    </form>

    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}