{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("status", "status-events");
        })
    </script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Events and Alerts</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage events
        </div>
        <div class="rightbuttons">
            <a class="bbtn bbtn-save" href="/device/configuration/events">Manage Handlers</a>
        </div>
    </div>

    <div class="aheading">
        <span>Events since last purge</span>
    </div>

    <style>
        .tableheader {
            padding-top: 13px;
            padding-left: 9px;
            width: 98%;
            margin-bottom: 3px;
            height: 26px;
            background-color: #fcf8e3;
            border: 1px solid #fbeed5;
            margin-top: 9px;
        }

        .next_button {
            padding-top: 3px;
            position: absolute;
            right: 5px;
        }

        .prev_button {
            padding-top: 3px;
            position: absolute;
            left: 7px;
        }
    </style>

    <div class="abody">
        <div class="magical-table" id="websitestable">
            <div class="tableheader">
                <img src="{{ url_for('static', filename='images/ajax-loader.gif') }}" class="loadingindicator"/>
                <span class="tableheader-title"><b>Events</b></span>
                <div style="margin-top:-5px;padding-right:5px;float:right;"><i style="padding-right:5px;" class="icon-search"></i><input id="search" class="validate" type="text"/></div>
            </div>

            <table class="list border" id="websites">
                <thead class=general-title>
                <th><b>Date/Time</b></th>
                <th><b>Event Type</b></th>
                <th><b>Details</b></th>
                </thead>
                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                        <tr>
                        <td>${time}</td>
                        <td class="right-align">${key}</td>
                        <td class="right-align">${message_formatted}</td>
                        </tr>
                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>

            <div>
                <a class="prev_button" id="users_previous"><i class="icon-backward"></i> Previous</a>
                <a class="next_button" id="users_next">Next <i class="icon-forward"></i></a>
            </div>
        </div>
    </div>
    <script>
        var awesomeTable = new AwesomeTable("#websitestable", "/device/analytics/events?", 15);
        awesomeTable.nextButton = function () {
            return $("#users_next");
        };
        awesomeTable.prevButton = function () {
            return $("#users_previous");
        };

        awesomeTable.getSearchValue = function(){
            return $("#search").val();
        };
        awesomeTable.init();

        $("#search").change(function(){
            awesomeTable.update("/device/analytics/events?")
        });
    </script>

{% endblock %}