{% extends "header.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("network", "network-wan");
        window.setupDatatables();
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Advanced SNAT</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage snat rules in the system
    </div>

    <div class="rightbuttons">
        <a href="/device/firewall/masquerading/advanced/edit" class="btn"><i class="icon-plus"></i> Create a rule</a>
    </div>
</div>

<div id="acls">
    <div class="aheading">
        <span>Manually Configured Masquerading</span>
    </div>
    <br>

    <style>
    </style>
    <div class="abody">
        <table class="list paddingtop border">
            <thead>
            <th></th>
            <th>Source</th>
            <th>Destination</th>
            <th>Masquerade Rule</th>
            <th>Options</th>
            </thead>
            <tbody>
            {% for rule in forwarding_rules %}
            <tr>
                <td>
                    {% if not rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/masquerading/advanced/{{rule.id}}/enable'>
                        <input type=checkbox name=enabled onchange='submit();'/>
                    </form>
                    {% endif %}

                    {% if rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/masquerading/advanced/{{rule.id}}/disable'>
                        <input type=checkbox name=enabled CHECKED onchange='submit();'/>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {{ rule.source_string }}
                </td>
                <td>
                    {{ rule.destination_string }}
                </td>
                <td>
                    masquerade to
                    {% if rule.natTargetDevice != "-1"%}
                    {{rule.natTargetDevice}}
                    {% endif %}

                    {% if rule.natTargetIp %}
                    {{rule.natTargetIp}}
                    {% endif %}
                </td>
                <td>
                    <a href="/device/firewall/masquerading/advanced/edit/{{rule.id}}"><i class="icon-edit"></i></a>
                    <a href="/device/firewall/masquerading/advanced/{{rule.id}}/delete" class="delete-link"><i class="icon-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}