{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-firewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            var data = [];
            {% if rule %}
                $.getJSON("/device/analytics/metrics/firewall.acl.{{ rule.id }}.hits_per_minute", function (dataset) {
                    data = [];
                    for (var i = 0; i < dataset.result.length; i++) {
                        var items = [new Date(dataset.result[i].time * 1000), dataset.result[i].value];
                        data.push(items);
                    }

                    $.plot($("#rule_hits"),
                            [
                                {label: "Average Rule Hits per minute", data: data}
                            ], {
                                xaxis: {mode: 'time'}, lines: {fill: true},
                                grid: {
                                    borderWidth: 1,
                                    borderColor: '#ccc'
                                }

                            });
                });
            {% endif %}
        })
    </script>

    <script src="/static/libs/tagging.min.js"></script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Manage Firewall Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>
    </div>

    <form id="form" method=POST>
                    {% if rule %}
        <div class="aheading" data-for="sourceInfo">
            <span>Rule Statistics</span>
        </div>
        <div class="abody" id="sourceInfo">
            <div class="aformgroup">
                <div class="aformlabel">Hits per Minute</div>
                <div class="aformcontent">
                    <div id="rule_hits" style="width:100%; height:150px;"></div>
                </div>
            </div>
        </div>
                {% endif %}

        <br>
        <div class="aheading" data-for="sourceInfo">
            <span>Rule Details and Criteria</span>
        </div>
            <div class="aformgroup">
                <div class="aformlabel">Rule Name</div>
                <div class="aformcontent">
                    <input type="text"name="comment" style="vertical-align: top;" value="{{ rule.comment }}"/>
                </div>
            </div>
            {% include "device_standard_criteria.html" %}
            <br>

        <div class="aheading">
            <span>Actions</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <div class="aformgroup">
                    <span class="aformlabel">Dont track</span>

                    <div class="aformcontent">
                        <input {% if rule.ignoreconntrack %} CHECKED {% endif %} title="If checked, the connection tracker will ignore packets matching this rule. This is helpful for debugging." type=checkbox name="ignoreconntrack"/>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Log Packets</span>

                    <div class="aformcontent">
                        <input {% if rule.log %}CHECKED {% endif %} title="If checked, all packets matching this criteria will be logged to syslog" type=checkbox name="log"/>
                    </div>
                </div>


                <span class="aformlabel">Filter</span>

                <div class="aformcontent">
                    <input type=radio name=action value='ACCEPT' {% if rule.action == 1 %} CHECKED {% endif %} {% if not rule.action %}CHECKED{% endif %}/>
                    <font color=#00aa00>Accept</font>
                    <input type=radio name=action value='DROP' {% if rule.action == 0 %} CHECKED {% endif %}/>
                    <font color=#ff0000>Drop</font>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $(".chosen-select").chosen();
        });
    </script>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}
