{% extends "header.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("network");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/network/devices">Network</a></li>
            <li><a href="/device/network/connections">Connections</a></li>
            <li><a href="#" class="last">Manage Connection: {{connection.name | safe}}</a></li>
        </ul>
    </div>
    <div id="banner-description">
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li>
                    {% if connection.connected %}
                    <a href="/device/network/connections/{{connection.name | safe}}/disconnect">Disconnect</a>
                    {% endif %}

                    {% if not connection.connected %}
                    <a href="/device/network/connections/{{connection.name | safe}}/connect">Connect</a>
                    {% endif %}

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="tab-button-row" style="position:relative;">
    <a href="#" data-panelid="mnc-configuration" class="tab-button" onclick="toggleTab(event, 'mnc');">Configuration</a>
    <a href="#" data-panelid="mnc-logs" class="tab-button" onclick="toggleTab(event, 'mnc');">Logs</a>

    {% if connection.connected %}
    <span class='status' style='background-color:green'>Connected</span>
    {%endif%}

    {% if not connection.connected %}
    <span class='status' style='background-color:red'>Not Connected</span>
    {%endif%}
</div>

<div id="mnc">
    <div id="mnc-configuration" style="display:none;">
        <div class="aheading"><span>Connection Settings</span></div>

        <div class="abody">
            <script>
                $(document).ready(function(){
                    $("#form").validate({
                        errorPlacement:function(error,element){
                            error.appendTo(element.parent("div"));
                        },

                        wrapper:"li",
                        submitHandler:function(){
                            form.submit();
                        },

                        rules:{
                            username:{required:true, nowhitespace:true},
                            device:{required:true, nowhitespace:true},
                        },

                        messages:{
                        }
                    });
                });
            </script>

            <form id="form" method=POST>
                {% if connection.type == 0 %}
                <div class='aformgroup'><span class='aformlabel'>Username:</span>
                    <div class='aformcontent'><input class="validate" id="username" placeholder='Username' name='username'
                                                     value='{{connection.username | safe}}' size=20></div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Password:</span>
                    <div class='aformcontent'><input class="validate" placeholder='Password' name='password' type=password
                                                     value='{{connection.password | safe}}' size=20></div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Authentication:</span>
                    <div class='aformcontent'>
                        <select name='authenticationType'>
                            <option value=0
                            {% if connection.authenticationType == 0%} SELECTED {%endif%}>PAP</option>
                            <option value=1
                            {% if connection.authenticationType == 1%} SELECTED {%endif%}>CHAP</option></select>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Interface:</span>
                    <div class='aformcontent'><input class="validate" id="device" name='device' placeholder='dev' value='{{connection.device | safe}}' size=5>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'></span>
                    <div class='aformcontent'><input type='submit' value='Save Configuration'/></div>
                </div>
                {% endif %}
                {% if connection.type == 1 %}
                <div class='aformgroup'><span class='aformlabel'>Configuration File</span>
                    <div class='aformcontent'>
                        <textarea style='width:50%;height:150px;' name='keyfile'>{{connection.keyfile | safe}}</textarea></div>
                </div>
                <div class='aformgroup'><span class='aformlabel'></span>

                    <div class='aformcontent'><input type='submit' value='Save Configuration'/></div>
                </div>
                {%endif %}
            </form>
        </div>
    </div>
    <div id="mnc-logs" style="display:none;">
        <div>
            <b>Logs syslog</b>
            <p>
                {{log | safe}}
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        initToggleTab("mnc","mnc-configuration");
    });
</script>


{% endblock %}