{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-mdns");
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Mdns/Bonjour Gateway</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage Mdns and Bonjour traffic between subnets and vlans.
        </div>
    </div>
    <div>
        <div class="aheading">
            <span>Mdns/Bonjour Bridges</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <div class="aformlabel">Active Bridges</div>
                <div class="aformcontent">
                    <table id="bridges" class="list border">
                        <thead>
                        <th>Name</th>
                        <th>Member Interfaces</th>
                        <th>Operations</th>
                        </thead>

                        <tbody>
                        {% for bridge in bridges %}
                            <tr>
                                <td><a href="/device/network/mdns/{{ bridge.id }}/edit">{{ bridge.name }}</a></td>
                                <td>
                                    {% for device in bridge.slaves %}
                                        {{ device }},
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="/device/network/mdns/{{ bridge.id }}/del"><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <div>
                        <a href="/device/network/mdns/create">Add a new Bridge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}