{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-wan");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Configure Wan Interface</a></li>
            </ul>
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Configuration</a>
        </div>
    </div>

    <form id="form" method=POST>
        <div class="aheading" data-for="sourceInfo">
            <span>Configuration</span>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Interface
            </span>

            <div class="aformcontent">
                <input class="validate" name="interface" value="{{ rule.interface }}" name="interface" type="text" disabled>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Failover Index
            </span>

            <div class="aformcontent">
                <input class="validate" name="failover_index" value="{{ rule.failover_index }}" name="failover_index" type="text" placeholder="Priority">
            </div>
        </div>

        <br>
        <div class="aheading" data-for="sourceInfo">
            <span>Optional Criteria</span>
        </div>

        {% include "device_standard_criteria.html" %}

        <br>
    </form>
{% endblock %}