{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-captiveportal");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Captive Portal Configuration</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust authentication and capture portal options
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },

                rules: {
                    session_timeout: {required: true, number: true},
                    bandwidth_port: {required: true, number: true},
                    threshold: {required: true, number: true},
                    retension: {required: true, number: true},
                    cp_url: {required: false, url2: true},
                    http_baseurl: {required: false, url2: true},

                },

                messages: {
                    session_timeout: "Please enter a valid session timeout",
                    bandwidth_port: "Please enter a valid port number",
                    threshold: "Please enter a valid number",
                    retension: "Please enter a valid number",
                    cp_url: "Please enter a valid url",
                    http_baseurl: "Please enter a valid url",
                }
            });

            $("#mode").val("{{ captiveportal_opts.mode }}");
            $("#mode").change(function () {
                if ($("#mode").val() == "1") {
                    $("#included_networks_and_devices_div").show();
                } else {
                    $("#included_networks_and_devices_div").hide();
                }
            });

            $("#endpoint").val("{{ captiveportal_opts.endpoint }}");
            $("#endpoint").change(function () {
                if ($("#endpoint").val() == "1" || $("#endpoint").val() == "2") {
                    $("#cp_url_div").hide();
                } else {
                    $("#cp_url_div").show();
                }
            });

            $("#object_inclusions").val([
                {% for pool in captiveportal_opts.object_inclusions %}
                    "{{pool.aliasId}}",
                {%endfor %}
            ]);

            $("#object_exclusions").val([
                {% for pool in captiveportal_opts.object_exclusions%}
                    "{{pool.aliasId}}",
                {%endfor %}
            ]);

            $(".chosen-select").chosen();
            $("#mode").change();
            $("#endpoint").change();

        });
    </script>
    <br>

    <form id='form' method=POST>
        <div class="aheading">
            <span>Capture Portal Options</span>
        </div>
        <div class="abody">

            <div class="aformgroup">
                <span class="aformlabel">Enabled</span>

                <div class="aformcontent">
                    <select id="mode" name="mode">
                        <option value="0">Disabled</option>
                        <option value="1">Enabled for specified networks</option>
                        <option value="2">Enabled for all local networks/devices</option>
                    </select>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Portal</span>

                <div class="aformcontent">
                    <select id="endpoint" name="endpoint">
                        <option value="0">Manually Configured</option>
                        <option value="1">Linewize Secure Portal</option>
                        <option value="2">Open Edgewize Local Portal</option>
                    </select>
                </div>
            </div>

            <div id="cp_url_div" class="aformgroup">
                <span class="aformlabel">
                    Redirect Url
                </span>

                <div class="aformcontent">
                    <input id="url" name="url" value="{{ captiveportal_opts.url }}" class='validate'/>
                </div>
            </div>
        </div>
        <br>

        <div id="included_networks_and_devices_div">
            <div class="aheading">
                <span>Included Networks and Devices</span>
            </div>

            <div class="abody">

                <div class="aformgroup">
                    <span class="aformlabel">Objects</span>

                    <div class="aformcontent">
                        <select multiple class="chosen-select" name="object_inclusions" id="object_inclusions">
                            {% for pool in pools %}
                                <option value="{{ pool.id }}">{{ pool.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Networks and Devices</span>

                    <div class="aformcontent">
                        <textarea id="inclusions" name="inclusions">{{ captiveportal_opts.inclusions | join('\n') }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="aheading">
            <span>Exceptions</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Objects</span>

                <div class="aformcontent">
                    <select multiple class="chosen-select" name="object_exclusions" id="object_exclusions">
                        {% for pool in pools %}
                            <option value="{{ pool.id }}">{{ pool.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Networks, Devices and Websites</span>

                <div class="aformcontent">
                    <textarea id="exclusions" name="exclusions">{{ captiveportal_opts.exclusions | join('\n') }}</textarea>
                </div>
            </div>
        </div>



    </form>

    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}