{% extends "header.html" %}
{% block content %}
    {% if not g.analytics_available %}
        <br>
        <div class="alert"><b>Not Available</b> Statistics are currently only available through Edgwize Cloud Management. Visit <a href="http://linewize.com">http://linewize.com</a> for details.</div>
    {% endif %}

    {% if g.analytics_available %}
    {% block reporting %}
    {% endblock %}
    {% endif %}

{% endblock %}