{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("tools", "tools-capture");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#">Tools</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Capture and monitoring packets on an interface
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <br>
    <div class="aheading">
        <span>Packet Capture</span>
    </div>

    <form id="form1" name="form1" method=POST>
        <div class='aformgroup'><span class='aformlabel'>Filter:</span>

            <div class='aformcontent'>
                <input id="filter" type="text" class="validate" name="filter" value="{{ capture.filter }}"/>
            </div>
        </div>
        <div class='aformgroup'><span class='aformlabel'>Interface:</span>

            <div class='aformcontent'>
                <select id="interface" name="interface">
                    {% for device in devices %}
                        <option value="{{ device.interface }}" {% if capture.interface == device.interface %} SELECTED {% endif %}>{{ device.interface }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class='aformgroup'>
            <span class='aformlabel'>&nbsp;</span>
            <div class="aformcontent">
                <input type="submit" value="Start New Capture"/>
            </div>
        </div>
    </form>
    <br><br>

    <div id="resultsdiv">
        <div class="aheading">
            <span>Current Capture</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Status:</span>

                <div class="aformcontent-text">
                    <span id="capture_status"></span>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Packets Captured:</span>

                <div class="aformcontent-text">
                    <span id="no_packets_captured"></span>
                    <a href="/device/tools/capture/download"">Download pcap file</a>
                </div>


            </div>
            <hr>
            <div style="overflow-y: scroll; height:500px;" id="packet_captured"></div>
        </div>
        <br>
        <script>
            $(function () {
                var objDiv = document.getElementById("packet_captured");
                objDiv.scrollTop = objDiv.scrollHeight;
            });
        </script>
    </div>
    <script>
        var reload = function () {
            $.getJSON("/device/ajax/tools/capture", function (result) {
                if (result.result.running) {
                    $("#capture_status").html("running - <a href='/device/tools/capture/stop'>Stop Capture</a>");
                } else {
                    $("#capture_status").html("not running");
                }

                $("#no_packets_captured").html("" + result.result.no_packets_captured);
                $("#packet_captured").html("");
                for (var i = 0; i < result.result.packets.length; i++) {
                    $("#packet_captured").append("<div>" + result.result.packets[i] + "</div>");
                }
            });
        };

        reload();
        window.auto_scroll_interval = window.setInterval(function () {
            reload();

            var objDiv = document.getElementById("packet_captured");
            objDiv.scrollTop = objDiv.scrollHeight;

        }, 2000);
    </script>
{% endblock %}