{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-hosts");
        })
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Active Network Hosts</a></li>
            </ul>
            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            View active network devices
        </div>
    </div>
    <div id="users">
        <div class="aheading">
            <span>Active devices over time</span>
        </div>
        <br>

        <div class="abody">
            <div id="chart_div" style="width: 99%; height: 150px;"></div>
        </div>

        <br>
        <div class="aheading">
            <span>Currently active devices</span>
        </div>
        <br>

        <div class="abody">
            <table id="activehosts" class="list border filtered export paging">
                <thead class="general-title">
                <th>Hostname</th>
                <th>User</th>
                <th>Address</th>
                <th>Hardware Mac Address</th>
                <th>Last Seen</th>
                <th>Operations</th>
                </thead>

                <tbody id="activehostsbody">
                <script id="activehoststemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>${hostname}</td>
                        <td><a href="/device/status/user/${user}">${user}</a></td>
                        <td><a href="/device/status/hosts/${hw}/${host}">${host}</td>
                        <td><a href="/device/status/hosts/${hw}/${host}">${hw}</a></td>
                        <td class="datetimedecorator">${loginTime}</td>
                        <td>
                            <a href="/device/status/hosts/${hw}/${host}">View All Information</a> |
                            <a href="/device/status/connections?host=${hw}&ip=${host}">View Active Connections</a>
                        </td>
                    </tr>



                </script>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function render_host_over_time_graph(data) {
            var graphed_active_hosts = [];
            for (var i = 0; i < data.length; i++) {
                graphed_active_hosts.push([new Date(data[i].time * 1000), data[i].value]);
            }

            $.plot($('#chart_div'), [
                {label: 'Active Hosts', data: graphed_active_hosts}
            ], {
                xaxis: {mode: 'time'}, lines: {fill: true}, grid: { borderWidth: 1, borderColor: '#ccc'}
            });

        }

        $.getJSON(" /device/analytics/clients", function (data) {
            $("#activehoststemplate").tmpl(data.result.hosts).appendTo("#activehostsbody");
            window.setupDatatables();
        });

        $.getJSON("/device/analytics/metrics/firewall.arp.size", function (dataset) {
            render_host_over_time_graph(dataset.result);
        });

    </script>

{% endblock %}