{% extends "header.html" %}
{% block content %}

    <style>
        #flotTip {
            padding: 5px 5px 3px;
            border: solid 2px #649bfc;
            background-color: white;
            box-shadow: 2px 2px 5px #888888;
            text-shadow: 0 0 1px #c9c9c9;
        }

        .graph_toggle,.graph_type_toggle  {
            padding: 6px 10px 5px 10px;
            background-color: #cdcdcd;
        }

        .graph_toggle:hover, .graph_type_toggle:hover {
            cursor: pointer;
            background-color: #4c4c4c;
            color: white;
        }

        .graph_selected {
            background-color: #4c4c4c !important;
            color: white;
        }
        .graph_selected:hover {
            color: white !important;
        }

        .view_graph {
            margin-bottom: 22px;
        }

        .toggle_disabled:hover {
            cursor: default;
            background-color: #cdcdcd;
            color: inherit;
        }

        .remove_button {
            background-color: #cdcdcd;
            padding: 2px 4px 1px 4px;
            margin-left: 5px;
            border-radius: 2px;;
            color: black !important;
        }
    .remove_button:hover {
        background-color: #b3b3b3;
    }
    </style>
    <script>
        $(function () {
            window.setTab("status", "status-connections");

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Active Connections</a></li>
            </ul>
            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            View all connections being tracked
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>
    <div class="aheading">
        <span>Number of tracked connections over time</span>
    </div>
    <br>


    <div class="abody" id="graph_area">
        <div id="view_all_graph" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_users_graph" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_hosts_graph" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_ports_graph" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_apps_graph" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_all_graph_transfer" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_users_graph_transfer" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_hosts_graph_transfer" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_ports_graph_transfer" class="view_graph" style="width: 99%; height: 200px;"></div>
        <div id="view_apps_graph_transfer" class="view_graph" style="width: 99%; height: 200px;"></div>
    </div>


    <div class="abody graph_toggle_div">
        Viewing:
        <a class="graph_toggle graph_selected" data-item="view_all_graph">All</a>
        <a id="graph_select_users" class="graph_toggle" data-item="view_users_graph">Users</a>
        <a id="graph_select_hosts" class="graph_toggle " data-item="view_hosts_graph">Hosts</a>
        <a class="graph_toggle " data-item="view_ports_graph">Protocols</a>
        <a class="graph_toggle " data-item="view_apps_graph">Applications</a>

        <div style="float:right; margin-right:20px;">
        <a class="graph_type_toggle graph_selected" data-item="" data-type="connections">Connections</a> /
        <a id="toggle-transfer" class="graph_type_toggle" data-item="_transfer" data-type="transfer">Transfer</a>
            </div>
    </div>

    <br>

    <br>
    <div class="aheading">
        <span>Current Connections</span>
    </div>
    <br>
    <div class="abody">
        <table class="list border filtered export paging newdatatable" id="addresses">
            <thead class="general-title">
            <th></th>
            <th>Source</th>
            <th>Destination</th>
            <th>Type</th>
            <th>User</th>
            <th>Application Type</th>
            <th>State</th>
            <th>Operations</th>
            </thead>

            <tbody id="connectionsbody">
            <script id="tabletemplate" type="text/x-jquery-tmpl">
                {% raw %}
                    <tr>
                        <td><i id="${index}_row" onclick="window.show_connection(${index});" class="icon-search tooltip"></i></td>
                        <td><a href="/device/status/hosts/${hw}/${sourceIp}">${sourceIp}</a>{{if $data.sourcePort}}:${sourcePort} {{/if}}</td>
                        <td>${destIp} {{if $data.destPort}}: ${destPort} {{/if}}</td>
                        <td>${protocolString}</td>
                        <td>
                        {{if $data.user}}
                            ${user}
                        {{/if}}

                        {{if !$data.user}}
                            -
                        {{/if}}
                        </td>
                        <td>
                        {{if $data.application_tag}}
                            ${application_tag_name}
                        {{/if}}

                        {{if !$data.application_tag}}
                            -
                        {{/if}}
                        </td>
                        <td>
                        <span>${state}</span>
                        </td>
                        <td>
                            <a href="/device/status/connections/terminate/${sourceIp}/${sourcePort}/${destIp}/${destPort}">Terminate Connection</a>
                        </td>
                    </tr>
                {% endraw %}




            </script>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <script>
            var selected_entity = {};
            selected_entity.host = getParameterByName('host');
            selected_entity.ip = getParameterByName('ip');
            selected_entity.user = getParameterByName('user');

            if (selected_entity.host !== undefined && selected_entity.host !== '') {
                $('#graph_select_hosts').html('Host: ' + selected_entity.host + '/' + selected_entity.ip +
                '<a href="/device/status/connections" class="remove_button">x</a>');
                disable_selectors();
                $('#graph_select_hosts').addClass('graph_selected');
                $('#graph_select_hosts').show();
                apply_filter(selected_entity.host + ' ' + selected_entity.ip);
            }

            if (selected_entity.user !== undefined && selected_entity.user !== '') {
                $('#graph_select_users').html('User: ' + selected_entity.user +
                '<a href="/device/status/connections" class="remove_button">x</a>');
                disable_selectors();
                $('#graph_select_users').addClass('graph_selected');
                $('#graph_select_users').show();
                apply_filter(selected_entity.user);
            }

            function apply_filter(filter_text) {
                if ($('#addresses_filter > label > input').length >= 1) {
                    $('#addresses_filter > label > input').val(filter_text).trigger('keyup');
                } else {
                    setTimeout(function() {apply_filter(filter_text)}, 1000);
                }
            }

            function disable_selectors() {
                $('.aheading').hide();
                $('.view_graph').hide();
                var selectors = ['.graph_toggle', '.graph_type_toggle'];
                selectors.forEach(function(selector) {
                    $(selector).hide();
                    $(selector).addClass('toggle_disabled');
                });
            }

            var tcp_data_points = undefined;
            var udp_data_points = undefined;
            var icmp_data_points = undefined;
            var transfer_data_points = undefined;
            var current_graph = "view_all_graph";
            var value_type = "connections";

            function generate_graphs() {
                if (tcp_data_points != undefined && udp_data_points != undefined && icmp_data_points != undefined && transfer_data_points !== undefined) {
                    var graphed_tcp_data_points = [];
                    var graphed_udp_data_points = [];
                    var graphed_icmp_data_points = [];
                    var graphed_transfer_data_points = [];

                    // We make a dangerous assumption that we have the same number of datapoints in each structure
                    for (var i = 0; i < tcp_data_points.length; i++) {
                        graphed_tcp_data_points.push([new Date(tcp_data_points[i].time * 1000), tcp_data_points[i].value]);
                        graphed_udp_data_points.push([new Date(udp_data_points[i].time * 1000), udp_data_points[i].value]);
                        graphed_icmp_data_points.push([new Date(icmp_data_points[i].time * 1000), icmp_data_points[i].value]);
                    }
                    transfer_data_points.forEach(function(current_obj){
                        graphed_transfer_data_points.push([new Date(current_obj.time * 1000), current_obj.value / (1024 * 1024)]);
                    });

                    $.plot($('#view_all_graph'), [
                        {label: 'Tcp', data: graphed_tcp_data_points},
                        {label: 'Udp', data: graphed_udp_data_points},
                        {label: 'Icmp', data: graphed_icmp_data_points}
                    ], {
                        xaxis: {mode: 'time'}, lines: {fill: true}, grid: {borderWidth: 1, borderColor: '#ccc'}
                    });

                     $.plot($('#view_all_graph_transfer'), [
                        {label: 'Transfer (MB)', data: graphed_transfer_data_points}
                    ], {
                        xaxis: {mode: 'time'}, lines: {fill: true}, grid: {borderWidth: 1, borderColor: '#ccc'}, yaxis: {tickLength: '40px'}
                    });
                }
            }

            $.getJSON("/device/analytics/metrics/firewall.conntracker.tcp.size", function (dataset) {
                tcp_data_points = dataset.result;
                generate_graphs();
            });

            $.getJSON("/device/analytics/metrics/firewall.conntracker.udp.size", function (dataset) {
                udp_data_points = dataset.result;
                generate_graphs();
            });

            $.getJSON("/device/analytics/metrics/firewall.conntracker.icmp.size", function (dataset) {
                icmp_data_points = dataset.result;
                generate_graphs();
            });

            $.getJSON("/device/analytics/metrics/firewall.transfer.persec", function (dataset) {
                transfer_data_points = dataset.result;
                generate_graphs();
            });

            var destination_host_hits = {};
            var source_host_hits = {};
            var protocol_hits = {};
            var state_count = 0;

            function render_standard_bar_graph(selector, color, series, ticks) {
                $.plot($(selector), [
                    {
                        data: series,
                        bars: {
                            show: true,
                            barWidth: 0.5,
                            align: "center",
                            fill: 1
                        }
                    }
                ], {
                    series: {
                        color: color
                    },
                    xaxis: {
                        ticks: ticks
                    },
                    grid: {borderWidth: 1, borderColor: '#ccc', hoverable: true},
                    tooltip: true,
                    tooltipOpts: {
                        content: "%y",
                        shifts: {
                            x: 20,
                            y: 0
                        },
                        defaultTheme: false
                    }
                });
            }

            function sort_and_generate_top_graph(graph_selector, color, connection_objects, key_callback, limit, value_callback) {
                var top_users_by_connections = [];
                for (var i = 0; i < connection_objects.length; i++) {
                    var key = key_callback(connection_objects[i]);
                    if (top_users_by_connections[key] === undefined) {
                        top_users_by_connections[key] = 0;
                    }
                    top_users_by_connections[key] += value_callback(connection_objects[i]);
                }

                var series = [];
                var ticks = [];
                var index = 0;

                var key_value_top_users_by_connections = [];
                for (var innerKey in top_users_by_connections) {
                    if (top_users_by_connections.hasOwnProperty(innerKey)) {
                        key_value_top_users_by_connections.push({"key": innerKey, "value": top_users_by_connections[innerKey]});
                    }
                }

                key_value_top_users_by_connections.sort(function (a, b) {
                    if (a['value'] < b['value']) {
                        return 1;
                    }
                    if (a['value'] > b['value']) {
                        return -1;
                    }
                    return 0;
                });

                key_value_top_users_by_connections.forEach(function (innerObj) {
                    if (!(innerObj['key'] === undefined || innerObj['key'] === 'undefined') && index < limit) {
                        series.push([index, innerObj['value']]);
                        ticks.push([index, innerObj['key']]);
                        index++;
                    }
                });

                render_standard_bar_graph(graph_selector, color, series, ticks);
            }

            $.getJSON("/device/analytics/connections", function (data) {
                for (var i = 0; i < data.result.length; i++) {
                    data.result[i].index = i;
                }

                $("#tabletemplate").tmpl(data.result).appendTo("#connectionsbody");

                window.setupDatatables();
                window.show_connection = function (index) {
                    var markup = "<div><b>Connection Details</b></div><hr>";
                    markup += "<div>Upload: " + data.result[index].upload + " bytes</div>";
                    markup += "<div>Download: " + data.result[index].download + " bytes</div>";
                    markup += "<div>No packets: " + data.result[index].packets + " </div>";
                    markup += "<div>User: " + data.result[index].user + "</div>";
                    markup += "<div>Source Hw: " + data.result[index].hw + "</div>";
                    markup += "<div>QOS Nice: " + data.result[index].nice + "</div>";
                    markup += "<div>Filtering Rule: <a href='/device/firewall/acls/normal/add/" + data.result[index].verdict_filter_rule + "?mode=filtering'>" + data.result[index].verdict_filter_rule_name + "</a></div>";

                    markup += "<hr>";

                    if (data.result[index]['application_tag_name']) {
                        markup += "<div>Application Type: " + data.result[index].application_tag_name + "</div>";
                    }

                    if (data.result[index]['verdict_application_rule']) {
                        markup += "<div>Application Filtering Rule: <a href='/device/firewall/webfilter/add/" + data.result[index].verdict_application_rule + "?mode=filtering'>" + data.result[index].verdict_application_rule_name + "</a></div>";
                    }

                    if (data.result[index]['application_http_hostname']) {
                        markup += "<div>Http Hostname: " + data.result[index].application_http_hostname + "</div>";
                    }

                    if (data.result[index]['application_tag_ssl3_ip_match']) {
                        markup += "<div>App identified using sslv3 ip address</div>";
                    }

                    if (data.result[index]['application_http_useragent']) {
                        markup += "<div>Http Useragent: " + data.result[index].application_http_useragent + "</div>";
                    }

                    if (data.result[index]['application_http_contenttype']) {
                        markup += "<div>Http ContentType: " + data.result[index].application_http_contenttype + "</div>";
                    }

                    $("#" + index + "_row").tooltipster({theme: "tooltipster-shadow", interactive: true});
                    $("#" + index + "_row").tooltipster('content', $(markup));
                    $("#" + index + "_row").tooltipster('show');
                };

                sort_and_generate_top_graph("#view_hosts_graph", "#507786", data.result, function (item) {
                    return item["hw"] + "/" + item["sourceIp"]
                }, 5, function() {return 1});

                sort_and_generate_top_graph("#view_ports_graph", "#507786", data.result, function (item) {
                    return item["destPort"]
                }, 20, function() {return 1});

                sort_and_generate_top_graph("#view_users_graph", "#507786", data.result, function (item) {
                    return item["user"]
                }, 10, function() {return 1});

                sort_and_generate_top_graph("#view_apps_graph", "#507786", data.result, function (item) {
                    return item["application_tag_name"]
                }, 10, function() {return 1});

                sort_and_generate_top_graph("#view_hosts_graph_transfer", "#507786", data.result, function (item) {
                    return item["hw"] + "/" + item["sourceIp"]
                }, 5, function(obj) { return (obj['bytes'] / (1024) )});

                sort_and_generate_top_graph("#view_ports_graph_transfer", "#507786", data.result, function (item) {
                    return item["destPort"]
                }, 20, function(obj) { return (obj['bytes'] / (1024) )});

                sort_and_generate_top_graph("#view_users_graph_transfer", "#507786", data.result, function (item) {
                    return item["user"]
                }, 10, function(obj) { return (obj['bytes'] / (1024) )});

                sort_and_generate_top_graph("#view_apps_graph_transfer", "#507786", data.result, function (item) {
                    return item["application_tag_name"]
                }, 10, function(obj) { return (obj['bytes'] / (1024) )});

                $('.view_graph').not('#view_all_graph').hide();
            });

            $(".graph_toggle").click(function toggle_graph() {
                if (!$(this).hasClass('toggle_disabled')) {
                    $('.view_graph').hide();
                    $('.graph_toggle').removeClass("graph_selected");

                    if (value_type === 'transfer') {
                        $('#' + $(this).attr('data-item') + '_transfer').show();
                    } else {
                        $('#' + $(this).attr('data-item')).show();
                    }
                    current_graph = $(this).attr('data-item');

                    $(this).addClass("graph_selected");
                }
            });

            $(".graph_type_toggle").click(function() {
                if (!$(this).hasClass('toggle_disabled')) {
                    $('.view_graph').hide();
                    $('.graph_type_toggle').removeClass("graph_selected");
                    $('#' + current_graph + $(this).attr('data-item')).show();
                    value_type = $(this).attr('data-type');
                    $(this).addClass("graph_selected");
                }
            });

        </script>
    </div>

{% endblock %}