{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-wan");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/masquerading/advanced">Advanced SNAT</a></li>
                <li><a href="#" class="last">Add Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Create or edit a forwarding rule
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Rule</a>
        </div>
    </div>

    <script>
        $(function () {
            $("#destinationDevice").val("{{rule.destinationDevice}}");
            $("#natTargetDevice").val("{{rule.natTargetDevice}}");
        });
    </script>

    <form id="form" method=POST>
        <div class="aheading" data-for="sourceInfo">
            <span>Criteria</span>
        </div>
        <div class="abody" id="sourceInfo">
            <div class="aformgroup">
                {% include "device_standard_criteria.html" %}
                <br>

                <div class="aheading" data-for="sourceInfo">
                    <span>Action</span>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">
                    Masquerade to
                    </span>

                    <div class="aformcontent">
                        <select id="natTargetDevice" name="natTargetDevice">
                            <option value="-1"></option>
                            {% for device in devices %}
                                <option value="{{ device.interface }}">{{ device.interface }}</option>
                            {% endfor %}
                        </select>
                        or
                        <input class="validate" name="natTargetIp" value="{{ rule.natTargetIp }}" name="natTargetIp" type="text" placeholder="Ip Address">
                    </div>
                </div>
    </form>

{% endblock %}