{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device">Status</a></li>
                <li><a href="#" class="last">Performance</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Monitor Performance
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    {% for item in stats.result %}
        <div class="aheading">
            <span>{{ item }}</span>
        </div>
        <br>
        <div class="abody">
            <script>
                $(function () {
                    render_metric("{{ item }}", "#transfer_{{loop.index}}", function (value) {
                        return value;
                    });

                });
            </script>

            <div id="transfer_{{loop.index}}" style="width:98%; height: 150px;"></div>
        </div>
        <br><br>
    {% endfor %}

{% endblock %}