{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-persistedsessions");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Sessions and Timeouts</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage persisted user sessions
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>
    <div id="users">
        <br>

        <div class="aheading">
            <span>User Session Timeouts</span>
            <a href="/device/configuration/authentication/timeouts/manage" class="bump-right" id="create"> Add new timeout</a>
        </div>

        <div class="abody">
            <form method="POST">
                <div class="aformgroup">
                    <span class="aformlabel">Default Timeout:</span>

                    <div class="aformcontent">
                        <input type="text" name="session_timeout" id="session_timeout" class="validate" placeholder="Default" value="{{ default_timeout }}"/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Custom Timeouts:</span>
                    <div class="aformcontent">
                        <table style="margin-top: 10px; width: auto;" id="users" class="list border">
                            <thead>
                            <th>Groups</th>
                            <th>Networks</th>
                            <th>Timeout</th>
                            <th>Operations</th>
                            </thead>
                            <tbody>
                            {% for timeout in timeouts %}
                                <tr>
                                    <td>
                                        {% for range in timeout.groups %}
                                            {{ range.name }},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for range in timeout.networks %}
                                            {{ range.name }},
                                        {% endfor %}
                                    </td>
                                    <td>{{ timeout.timeout }}</td>
                                    <td>
                                        <a href="/device/configuration/authentication/timeouts/{{ timeout.id }}/manage">Configure</a> |
                                        <a href="/device/configuration/authentication/timeouts/{{ timeout.id }}/delete">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel"></span>

                    <div class="aformcontent">
                        <input type="submit" value="Save Timeout"/>
                    </div>
                </div>
            </form>
        </div>
        <br><br>

        <div class="aheading">
            <span>All Persisted Sessions</span>
        </div>
        <br>

        <div class="abody">
            <form method="POST" action="/device/configuration/sessions/persist">
                <table id="persistedSessions" class="list border filtered export paging">
                    <thead>
                    <th>Username</th>
                    <th>Hardware Mac Address</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for session in persisted_sessions %}
                        <tr>
                            <td>{{ session.user| safe }}</td>
                            <td>{{ session.hw| safe }}</td>
                            <td>
                                <a href="/device/configuration/sessions/persist/{{ session.user | safe }}/{{ session.hw|safe }}/remove">Forget</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <td>
                        <select name="username">
                            {% for user in available_users %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input name="hw" type="text"/></td>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            window.setupDatatables();
        });
    </script>

{% endblock %}