{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network", "network-vpn");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#local_device").val(
                    "{{ vpn.local_device }}"
            );
            $("#local_shared_device").val(
                    "{{ vpn.local_shared_device }}"
            );
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Manage Site-to-Site Vpn: {{ vpn.name }} </a></li>
            </ul>
        </div>
        <div id="banner-description">
            Setup and configure your IPSec Site To Site Vpn Instance
        </div>
    </div>

    <script>
        $(document).ready(function () {
            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "Space are not allowed");

            $("#form").validate({
                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
                rules: {
                    clientname: {required: true, noSpace: true},
                },

                messages: {
                    clientname: "Client name cannot include spaces",
                }
            });
        });
    </script>
    <br>
    {% if vpn.status == 0 %}
        <div class="positive">
            <b>Status: </b> The IPSec VPN is running and and connected to the remote network.
            <br>
            Click <a href='/device/network/vpn/{{ vpn.name | safe }}/stop' id="stop_connection">here</a> to stop the service.
        </div>
    {% endif %}
    {% if vpn.status == 1 %}
        <div class="negative">
            <b>Status: </b> The IPSec VPN is attempting to <b>establish</b> a connection to the remote network. If this persists, check your filtering
            rules and connection settings.
        </div>
    {% endif %}

    {% if vpn.status == -1 %}
        <div class="negative">
            <b>Status: </b> The IPSec VPN is not currently running, click <a href='/device/network/vpn/{{ vpn.name | safe }}/start' id="start_connection">here</a> to start it.
        </div>
    {% endif %}

    <div class="impartial">
        <div><b>More Connection Details:</b> <a href="#" onclick="$('#connection_details').toggle();">Show/Hide</a></div>
        <div id="connection_details" style="display:none;">
        <br>
        {% for key,value in vpn.state.iteritems() %}
        <div>{{ key }} : {{ value }}</div>
        {% endfor %}
        </div>
    </div>
    <br>
    <div id="openvpn">
        <div id="settings">
            <form id=form1 method="POST">
                <div class="aheading">
                    <span>General Server Options</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Automatically Start:</span>

                        <div class="aformcontent">
                            <input type="checkbox" name="auto_start" {% if vpn.auto_start %} CHECKED {% endif %}/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Configure Firewall:</span>

                        <div class="aformcontent">
                            <input type="checkbox" name="auto_configure_firewall" {% if vpn.auto_configure_firewall %} CHECKED {% endif %}/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Authentication:</span>

                        <div class="aformcontent">
                            <select name="auth_mode" id="auth_mode">
                                <option value="1" SELECTED>Preshared Key</option>
                            </select>

                            <input class="validate" type="text" name="secret_key" value="{{ vpn.secret_key }}"/>
                        </div>
                    </div>
                </div>
                <br>

                <div class="aheading">
                    <span>Local Endpoint</span>
                </div>

                <div class="abody">

                    <div class="aformgroup">
                        <span class="aformlabel">Listening Interface:</span>

                        <div class="aformcontent">
                            <select id="local_device" name="local_device">
                                {% for device in local_devices %}
                                    <option value="{{ device.interface }}">{{ device.interface }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Shared Network:</span>

                        <div class="aformcontent">
                            <select id="local_shared_device" name="local_shared_device">
                                {% for device in local_devices %}
                                    <option value="{{ device.interface }}">{{ device.interface }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Local Id:</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="local_id" value="{{ vpn.local_id }}"/>
                        </div>
                    </div>
                </div>
                <br>

                <div class="aheading">
                    <span>Remote Endpoint</span>
                </div>
                <div class="abody">

                    <div class="aformgroup">
                        <span class="aformlabel">Remote Address:</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="remote_host" value="{{ vpn.remote_host }}"/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Shared Network:</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="remote_network" value="{{ vpn.remote_network }}"/> /
                            <input class="validate" type="text" name="remote_subnet" value="{{ vpn.remote_subnet }}"/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Remote Id:</span>

                        <div class="aformcontent">
                            <input class="validate" type="text" name="remote_id" value="{{ vpn.remote_id }}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="log">
            <div class="aheading">
                <span>Logfile</span>
            </div>
            <div class="abody">
                You can view the detailed logfile for this instance <a href="/device/network/vpn/{{ vpn.name | safe }}/logs">here</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}