{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-appfirewall");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Application Filtering</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage Application Layer Firewall rules. Here you can block traffic based on our extensive application layer database, and by website url.
        </div>

        <div class="rightbuttons">

        </div>
    </div>

    <div id="acls">
        <div class="aheading">
            <span>Layer 7 Application Filtering</span>
            <a class="bump-right" href="/device/firewall/webfilter/add">Add new Layer 7 rule</a>
        </div>

        <div class="abody">
            <table class="list noresultstable border border">
                <thead>
                <th></th>
                <th>Action</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Name</th>
                <th>Operations</th>
                </thead>

                {% for rule in layer7_rules %}
                    <tr>
                        <td>
                            {% if rule.enabled %}
                                <form STYLE='margin: 0px; padding: 0px;' method='post'
                                      action='/device/firewall/webfilter/disable/{{ rule.id }}'>
                                    <input type=checkbox value=on name=enabled CHECKED onchange='this.form.submit();'/>
                                </form>
                            {% endif %}

                            {% if not rule.enabled %}
                                <form STYLE='margin: 0px; padding: 0px;' method='post'
                                      action='/device/firewall/webfilter/enable/{{ rule.id }}'>
                                    <input type=checkbox value=on name=enabled onchange='this.form.submit();'/>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if rule.action == 0 %}Deny{% endif %}
                            {% if rule.action == 1 %}Allow{% endif %}
                        </td>
                        <td>
                            {{ rule.source_string }}
                        </td>
                        <td>
                            {{ rule.destination_string }}
                        </td>
                        <td>
                            {{ rule.name }}
                        </td>
                        <td>
                            <a><i id="rule_info_{{ rule.id }}" class="icon-search tooltip" style="color:gray;"></i></a> |
                            <a href="/device/firewall/webfilter/add/{{ rule.id }}"><i style="color:gray;" class="icon-edit"></i></a> |
                            <a href="/device/firewall/webfilter/{{ rule.id }}/moveup"><i style="color:gray;" class="icon-arrow-up"></i></a> |
                            <a href="/device/firewall/webfilter/{{ rule.id }}/movedown"><i style="color:gray;" class="icon-arrow-down"></i></a> |
                            <a href="/device/firewall/webfilter/{{ rule.id }}/delete" class="delete-link"><i style="color:gray;" class="icon-remove"></i></a>
                        </td>
                    </tr>

                    <script>
                        var markup = "<div><b>Statistics and Information</b></div><hr>";
                        markup += "<div>No. Hits: " + {{ rule.hits  }}+" </div>";
                        if ({{ rule.last_hit }} != 0){
                            markup += "<div>Last Hit: " + new Date({{ rule.last_hit }} * 1000) +" </div>";
                        }

                        $("#rule_info_{{ rule.id }}").tooltipster({theme: "tooltipster-shadow"});
                        $("#rule_info_{{ rule.id }}").tooltipster('content', $(markup));
                    </script>

                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
