{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-objects");
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("span").next("div"));
                },

                debug: true,
                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
                rules: {
                    name: {required: true},
                },

                messages: {
                    name: "A name is required",
                }
            });
        })

        function changeDetailPlaceholder() {
            var value = $('#source').val();
            if (value == -1) {
                $('#detail').css('display', 'none');
            } else {
                $('#detail').css('display', 'inline');
                $('#detail').attr('placeholder', '');
            }
        }

        $(document).ready(function () {
            changeDetailPlaceholder();
        });

    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Firewall Objects</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage and create aliases/pools and time periods in the system. These can then be used in firewall rules and other places.<br>
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a id="operationbutton" class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <div class="aheading">
        <span>All Objects</span>
    </div>
    <br>

    <div class="abody">
        <div class="aformgroup">
            <div class="aformlabel">Aliases</div>
            <div class="aformcontent">
                <form method="POST">
                    <table class="list border" id="aliases">
                        <thead>
                        <th>Pool Name</th>
                        <th>Object Type</th>
                        <th>Operations</th>
                        </thead>
                        <tbody>
                        {% for alias in aliases %}
                            <tr>
                                <td><a href="/device/firewall/aliases/{{ alias.id | safe }}">{{ alias.name | safe }}</a></td>
                                <td>{{ alias.description| safe }}</td>
                                <td><a href="/device/firewall/aliases/{{ alias.id | safe }}/delete">Delete</a>
                                    <a href="/device/firewall/aliases/{{ alias.id | safe }}/sync">Sync</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <input name=name size=30 class='validate' placeholder='Enter a name...'>
                            </td>
                            <td>
                                <select id='type' name='type'>
                                    <option value=0>IP Range List</option>
                                    <option value=1>IP Subnet List</option>
                                    <option value=2>Website List</option>
                                    <option value=3>Wildcard String List</option>
                                    <option value=4>Mac Address List</option>
                                </select>
                                <select id='source' name='source' onchange='changeDetailPlaceholder();'>
                                    <option value=-1>Manual List</option>
                                    <option value=0>Dns Hostname</option>
                                    <option value=1>Remote list from url</option>
                                </select>
                                <input id='detail' name='detail' size=50 class='validate' placeholder='Optional: Enter a url or file to load list from'>
                            </td>
                            <td><input type=submit value=create></td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>

        <div class="aformgroup">
            <div class="aformlabel">Time Periods</div>
            <div class="aformcontent">
                <form action="/device/firewall/periods" method="POST">
                    <table class="list noresultstable paddingtop border">
                        <thead>
                        <th>Name</th>
                        <th>Operations</th>
                        </thead>
                        <tbody>
                        {% for period in periods %}
                            <tr>
                                <td>
                                    <a href="/device/firewall/periods/{{ period.id }}">{{ period.name }}</a>
                                </td>
                                <td>
                                    <a href="/device/firewall/periods/{{ period.id }}/delete">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <td><input name="name"></td>
                        <td><input value="Add Period" type="submit"></td>
                        </tfoot>
                    </table>
                </form>

            </div>
        </div>
    </div>
    <br>

    <div class="aheading">
        <span>Application Layer Signatures</span>
    </div>

    <div class="abody">
        You currently have <b>{{ signatures | length }}</b> application layer signatures imported from the appindex <br><br>
        <a href="/device/firewall/signatures/sync">Import and refresh signatures here</a>
    </div>

    <script>
        $(function () {
        });
    </script>

{% endblock %}