{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-users");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Manage User: {{ user.username|safe }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Edit and manage this user account
        </div>
        <div class="rightbuttons">
            {% if user.enabled %}
                <a href="/device/configuration/users/{{ user.username }}/disable" class="bbtn bbtn-save">Disable</a>
            {% endif %}
            {% if not user.enabled %}
                <a href="/device/configuration/users/{{ user.username }}/enable" class="bbtn bbtn-save">Enable</a>
            {% endif %}
            <a href='/device/configuration/users/delete/{{ user.username }}' class="bbtn bbtn-save">Delete</a>
        </div>
    </div>

    <div id="editUserContent">
        <div id="details">

            <script>
                $(document).ready(function () {
                    $("#form1").validate({
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parent("div"));
                        },

                        wrapper: "li",
                        submitHandler: function () {
                            form1.submit();
                        },

                        rules: {},

                        messages: {}
                    });

                    $("#groups").val([
                        {% for group in user.groups%}
                            "{{group.name}}",
                        {%endfor %}
                    ]);

                    $(".chosen-select").chosen();
                    initToggleTab("editUserContent", "details");
                });
            </script>

            <form id=form1 method=POST name=form1>
                <div class="aheading">
                    <span>User details</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Formal name</span>

                        <div class="aformcontent">
                            <input class='validate' name="fname" placeholder="First Name" value="{{ user.fname | safe }}"/>
                            <input class='validate' name="lname" placeholder="Last Name" value="{{ user.lname | safe }}"/>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Email address</span>

                        <div class="aformcontent">
                            <input name="email" placeholder="Email Address" value="{{ user.email | safe }}"
                                   class='validate email'/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Set Password</span>

                        <div class="aformcontent">
                            <input name="password" placeholder="Password" type=password class='validate'>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Re-enter Password</span>

                        <div class="aformcontent">
                            <input name="repassword" placeholder="Repeat Password" type=password class='validate'>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Group Membership:</span>

                        <div class="aformcontent">
                            <select class="chosen-select" data-placeholder="" multiple id="groups" name="groups">
                                {% for group in groups %}
                                    <option value="{{ group.name }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            <br>

                <div class="aheading">
                    <span>Quotas</span>
                </div>
                <script>
                    $(function () {
                        function set_quotainputs(element) {
                            var forLimit = $(element).attr("for");
                            if ($(element).is(":checked")) {
                                $("#" + forLimit).prop('disabled', false);
                            } else {
                                $("#" + forLimit).prop('disabled', true);
                                $("#" + forLimit).val("");
                            }
                        }

                        $(".quotaCheckbox").each(function () {
                            set_quotainputs(this);
                        });

                        $(".quotaCheckbox").change(function () {
                            set_quotainputs(this);
                        });
                    });

                </script>
                <div class="abody">
                    Configure user bandwidth quotas. You can set limits in bytes and seconds.
                    <br><br>

                    <div class="aformgroup">
                        <span class="aformlabel">Daily Limit:</span>

                        <div class="aformcontent">
                            <input class="quotaCheckbox" for="dailyQuotaLimit" type=checkbox name="dailyQuota" {% if user.dailyQuota %} CHECKED {% endif %}>
                            <input class="validate number" size=6 type=text id="dailyQuotaLimit" name="dailyQuotaLimit" value="{{ user.dailyQuotaLimit }}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Weekly Limit:</span>

                        <div class="aformcontent">
                            <input class="quotaCheckbox" for="weeklyQuotaLimit" type=checkbox name="weeklyQuota" {% if user.weeklyQuota %} CHECKED {% endif %}>
                            <input class="validate number" size=6 type=text id="weeklyQuotaLimit" name="weeklyQuotaLimit" value="{{ user.weeklyQuotaLimit }}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Monthly Limit:</span>

                        <div class="aformcontent">
                            <input class="quotaCheckbox" for="monthQuotaLimit" type=checkbox name="monthQuota" {% if user.monthQuota %} CHECKED {% endif %}>
                            <input class="validate number" size=6 type=text id="monthQuotaLimit" name="monthQuotaLimit" value="{{ user.monthQuotaLimit }}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Total Transfer Limit:</span>

                        <div class="aformcontent">
                            <input class="quotaCheckbox" for="totalQuotaLimit" type=checkbox name="totalQuota" {% if user.totalQuota %} CHECKED {% endif %}>
                            <input class="validate number" size=6 type=text id="totalQuotaLimit" name="totalQuotaLimit" value="{{ user.totalQuotaLimit }}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Time Limit:</span>

                        <div class="aformcontent">
                            <input class="quotaCheckbox" for="timeQuotaLimit" type=checkbox name="timeQuota" {% if user.timeQuota %} CHECKED {% endif %}>
                            <input class="validate number" size=6 type=text id="timeQuotaLimit" name="timeQuotaLimit" value="{{ user.timeQuotaLimit }}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}