{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-users");
            $("#save-button").click(function () {
                $("form:first").submit();
            });

            window.setupDateTimeDecorators();
        });
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Active User: {{ username }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage an Active User
        </div>
    </div>

    <div id="editUserContent">
        <div id="details">
            <div class="aheading">
                <span>User Session Details</span>
            </div>

            <div class="abody">
                <div class="aformgroup aformgroup_small">
                    <span class="aformlabel">No Active Sessions</span>

                    <div class="aformcontent-text">
                        <span>{{ sessions | length }}</span>
                    </div>
                </div>
                <div class="aformgroup aformgroup_small">
                    <span class="aformlabel">Active Sessions</span>

                    <div class="aformcontent-text">
                        <table style="margin-top: 10px; width: auto;" id="users" class="list border">
                            <thead>
                            <th>Ip</th>
                            <th>Mac</th>
                            <th>Login Time</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for session in sessions %}
                                <tr>
                                    <td>
                                        <a href="/device/status/hosts/{{ session.hw }}/{{ session.host }}">{{ session.host }}</a>
                                    </td>
                                    <td>
                                        <a href="/device/status/hosts/{{ session.hw }}/{{ session.host }}">{{ session.hw }}</a>
                                    </td>
                                    <td class="datetimedecorator ">
                                        {{ session.loginTime }}
                                    </td>
                                    <td>
                                        <a href="/device/status/clients/disconnect/{{ session.host }}"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="aformgroup aformgroup_small">
                    <span class="aformlabel">Active Connections</span>

                    <div class="aformcontent-text">
                            <span>
                                <a href="/device/status/connections?user={{ username }}">View active connections</a>
                            </span>
                    </div>
                </div>
                <br>
            </div>

            <br>

            <div class="aheading">
                <span>User Details</span>
            </div>
            <div class="abody">

                <div class="aformgroup aformgroup_small">
                    <span class="aformlabel">Name</span>

                    <div class="aformcontent-text">
                            <span>
                                {{ user.fname }}
                                {{ user.lname }}
                            </span>
                    </div>
                </div>
                <div class="aformgroup aformgroup_small">
                    <span class="aformlabel">Manage</span>

                    <div class="aformcontent-text">
                            <span>
                                <a href="/device/configuration/users/{{ username }}">Click here to manage this user</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}