{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-qos");
            window.setupDatatables();
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Traffic Shaping</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>
    </div>

    <div id="qos">
        {% if not enabled %}
            <div class="alert">
            <span class="message"><b>Warning:</b> Qos is currently disabled, click <a
                    href="/device/firewall/qos/enable">here</a> to enable it.</span>
            </div>
        {% endif %}

        {% if enabled %}
            <div class="aheading">
                <span>Traffic Shaping Rules</span>
            </div>
            <br>

            <div class="abody">
                <div class="aformgroup">
                    <div class="aformlabel">
                        Traffic Shaping Rules
                    </div>
                    <div class="aformcontent">
                        <table class="list paddingtop noresultstable border paddingbottom">
                            <thead>
                            <th>Name</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Transfer Rate</th>
                            <th>Operations</th>
                            </thead>
                            <tbody>
                            {% for rule in qos %}
                                <tr>
                                    <td>
                                        {{ rule.name }}
                                    </td>
                                    <td>
                                        {{ rule.source_string }}
                                    </td>
                                    <td>
                                        {{ rule.destination_string }}
                                    </td>
                                    <td>
                                        Upload: {{ rule.upload | safe }}B/s Download: {{ rule.download | safe }}B/s
                                    </td>
                                    <td>
                                        <a href="/device/firewall/acls/qos/add/{{ rule.id }}"><i class="icon-edit"></i></a>
                                        <a href="/device/firewall/acls/qos/{{ rule.id }}/delete" class="delete-link"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a href="/device/firewall/acls/qos/add">+ Add new Rule</a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="aformgroup">
                    <div class="aformlabel">
                        Prioritise Traffic
                    </div>
                    <div class="aformcontent">
                        <table class="list noresultstable paddingtop border paddingbottom">
                            <thead>
                            <th></th>
                            <th>Name</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Action</th>
                            <th>Operations</th>
                            </thead>
                            <tbody>
                            {% for rule in priority %}
                                <tr>
                                    <td>
                                        {% if rule.enabled %}
                                            <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/disable/{{ rule.id }}?caller=/device/firewall/qos'>
                                                <input type=checkbox value=on name=enabled {% if rule.enabled %} CHECKED {% endif %} onchange='submit();'/>
                                            </form>
                                        {% endif %}
                                        {% if not rule.enabled %}
                                            <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/enable/{{ rule.id }}?caller=/device/firewall/qos'>
                                                <input type=checkbox value=on name=enabled onchange='submit();'/>
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td>{{ rule.comment }}</td>

                                    <td>
                                        {{ rule.source_string }}
                                    </td>
                                    <td>
                                        {{ rule.destination_string }}
                                    </td>
                                    <td>
                                        priority {{ rule.nice }}
                                    </td>
                                    <td>
                                        <a href="/device/firewall/acls/priority/add/{{ rule.id }}?mode=priority"><i class="icon-edit"></i></a>
                                        <a href="/device/firewall/acls/up/{{ rule.id }}?caller=/device/firewall/qos"><i class="icon-arrow-up"></i></a>
                                        <a href="/device/firewall/acls/down/{{ rule.id }}?caller=/device/firewall/qos"><i class="icon-arrow-down"></i></a>
                                        <a href="/device/firewall/acls/delete/{{ rule.id }}?caller=/device/firewall/qos" class="delete-link"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a href="/device/firewall/acls/priority/add">+ Add new Rule</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}