{% extends "header.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Forwarding Rules</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>
</div>

<div class="aheading">
    <span>Forwarding</span>
</div>
<br>

<div class="abody">
    <table class="list noresultstable paddingtop border">
        <thead>
        <th></th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Action</th>
        <th>Operations</th>
        </thead>
        <tbody>
        {% for rule in nat %}
        <tr>
            <td>
                {% if rule.enabled %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/disable/{{rule.id}}?caller=/firewall/nat'>
                    <input type=checkbox value=on name=enabled CHECKED onchange='submit();'/>
                </form>
                {% endif %}

                {% if not rule.enabled %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/enable/{{rule.id}}?caller=/firewall/nat'>
                    <input type=checkbox value=on name=enabled onchange='submit();'/>
                </form>
                {% endif %}
            </td>
            <td>
                {% if rule.sourceAddress %}
                host {{rule.sourceAddress | safe}}/{{rule.sourceSubnet|safe}}
                {% endif %}

                {% if rule.sourceAlias %}
                alias {{rule.sourceAlias}}
                {% endif %}

                {% if rule.hwAddress %}
                mac address {{rule.hwAddress}}
                {% endif %}

                {% if rule.group %}
                group {{rule.group}}
                {% endif%}

                {% if rule.sourcePort %}
                port {{rule.sourcePort}}
                {% endif %}

                {% if rule.sport_start %}
                between ports {{rule.sport_start}} - {{rule.sport_end}}
                {% endif %}

                {% if rule.sourceInterface %}
                interface {{rule.sourceInterface}}
                {%endif%}
            </td>
            <td>
                {% if rule.destAddress %}
                host {{rule.destAddress | safe}}/{{rule.destSubnet|safe}}
                {% endif %}

                {% if rule.destAlias %}
                alias {{rule.destAlias}}
                {% endif %}

                {% if rule.destPort %}
                port {{rule.destPort}}
                {% endif %}

                {% if rule.dport_start %}
                between ports {{rule.dport_start}} - {{rule.dport_end}}
                {% endif %}

                {% if rule.destInterface %}
                interface {{rule.destInterface}}
                {%endif%}
            </td>
            <td>
                {{rule.protocol}}
            </td>
            <td class="darkbackground">
                {% if rule.action == 2 %}
                    {% if rule.masqueradeTarget %}
                    Masquerade to {{rule.masqueradeTarget}}
                    {% endif %}

                    {% if rule.masqueradeTargetDevice %}
                    Masquerade to {{rule.masqueradeTargetDevice}}
                    {% endif %}
                {% endif %}

                {% if rule.action == 3 %}
                    Forward to {{rule.forwardTarget}}:{{rule.forwardPort}}
                {%endif %}
            </td>
            <td class="darkbackground">
                <a href="/device/firewall/acls/normal/add/{{rule.id}}?mode=forwarding">Edit</a>
                <a href="/device/firewall/acls/delete/{{rule.id}}?caller=/firewall/nat">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}