{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-qos");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <script src="/static/libs/tagging.min.js"></script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Add Priority Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>
    </div>
    <form id="form" method=POST>
        <div class="aheading" data-for="sourceInfo">
            <span>Name or Description</span>
        </div>
        <div class="abody" id="sourceInfo">
            <div class="aformgroup">
                <span class="aformlabel">Name</span>

                <div class="aformcontent">
                    <input type="text" name="comment" value="{{ rule.comment }}"/>
                </div>
            </div>
        </div>
        <br>

        <div class="aheading" data-for="sourceInfo">
            <span>Source/Destination Criteria</span>
        </div>

        {% include "device_standard_criteria.html" %}
        <br>

        <div id="advanceInfoLink" class="aheading" data-for="advanceInfo">
            <span>Advanced Options</span>
        </div>

        <div class="abody" id="advanceInfo">
            <div class="aformgroup">
                <span class="aformlabel">Dont track</span>

                <div class="aformcontent">
                    <input {% if rule.ignoreconntrack %} CHECKED {% endif %} title="If checked, the connection tracker will ignore packets matching this rule. This is helpful for debugging." type=checkbox name="ignoreconntrack"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Log Packets</span>

                <div class="aformcontent">
                    <input {% if rule.log %}CHECKED {% endif %} title="If checked, all packets matching this criteria will be logged to syslog" type=checkbox name="log"/>
                </div>
            </div>

        </div>
        <br>

        <div class="aheading">
            <span>Actions</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Prioritize Traffic</span>

                <div class="aformcontent">
                    <input CHECKED type=radio name=action value='PRIORITISE'/>
                    <select name="nice">
                        <option value="1" {% if rule.nice == 1 %}SELECTED {% endif %}>1</option>
                        <option value="2" {% if rule.nice == 2 %}SELECTED {% endif %}>2</option>
                        <option value="3" {% if rule.nice == 3 %}SELECTED {% endif %}>3</option>
                        <option value="4" {% if rule.nice == 4 %}SELECTED {% endif %}>4</option>
                        <option value="5" {% if rule.nice == 5 %}SELECTED {% endif %}>5</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $(".chosen-select").chosen();
        });
    </script>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}
