{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-sso");
            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#userownedgroupmembership").change(function () {
                if ($("#userownedgroupmembership").is(":checked")) {
                    $(".groupldapdetails").hide();
                } else {
                    $(".groupldapdetails").show();
                }
            });

            {% if userownedgroupmembership %}
                $('#userownedgroupmembership').prop('checked', true);
                $(".groupldapdetails").hide();
            {% endif %}

            {% if not userownedgroupmembership %}
                $('#userownedgroupmembership').prop('checked', false);
                $(".groupldapdetails").show();
            {% endif%}

            function toggle_manual() {
                var currently_selected = $("#ldaptype").val();
                console.log(currently_selected);

                if (currently_selected == "manual") {
                    $("#manual_details").show();
                } else {
                    $("#manual_details").hide();
                }
            }

            $("#ldaptype").val("{{ ldap.ldaptype }}");
            $("#ldaptype").change(function () {
                toggle_manual();
            });

            toggle_manual();

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Authentication Providers</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Here you can configure remote authentication providers.
        </div>
    </div>
    <br>
    <form id='form' method=POST>
        <div class="aheading">
            <span>Simple Connection Services</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Basic Unix Pam</span>

                <div class="aformcontent">
                    <input type=checkbox name=pam_enabled {% if pam_enabled %} CHECKED {% endif %} />
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Basic Http</span>

                <div class="aformcontent">
                    <input type=checkbox name='http_enabled' {% if http_enabled %} CHECKED {% endif %} />
                    <input id="http_baseurl" class="validate" type="text" placeholder="Url" size=20 name="http_baseurl"
                           value="{{ http_baseurl | safe }}">
                </div>
            </div>
        </div>
        <br>

        <div class="abody">
            <div class="aheading">
                <span>LDAP Server Connection
                </span>
            </div>

            {% if ldap.online and ldap.enabled%}
                <div class="positive">
                    <b>Online: </b> We are connected to your LDAP directory service.
                    <br>
                    To manually import/refresh group information, click <a href="/device/configuration/ldap/sync">here</a>
                </div>
                <br>
            {% endif %}

            {% if not ldap.online and ldap.enabled %}
                <div class="negative">
                    <b>Offline: </b> We could not connect to you LDAP service.
                    <br>
                    {{ ldap.err }}
                </div>
                <br>
            {% endif %}

            <div class="aformgroup">
                <span class="aformlabel">Enabled</span>

                <div class="aformcontent">
                    <input type="checkbox" name="ldap_enabled" {% if ldap.enabled %} CHECKED {% endif %}>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Server Type</span>

                <div class="aformcontent">
                    <select id="ldaptype" name="ldaptype">
                        <option value="manual">Manual</option>
                        <option value="ad">Active Directory</option>
                        <option value="ed">Novell eDirectory</option>
                        <option value="ol">Open Ldap</option>
                    </select>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Server Hostname</span>

                <div class="aformcontent">
                    <input id="hostname" class="validate" name=ldapserver type=text value="{{ ldap.server | safe }}"/> : <input id="port" value="{{ ldap.port| safe }}" class="validate" name=port size=4/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Bind User</span>

                <div class="aformcontent">
                    <input class="validate" name="ldapuser" type=text value="{{ ldap.bindUsername | safe }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Bind Password</span>

                <div class="aformcontent">
                    <input class="validate" name="ldappassword" type=text value="{{ ldap.bindPassword | safe }}"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Base DN</span>

                <div class="aformcontent">
                    <input class="validate" name="ldapbasedn" type=text value="{{ ldap.baseDn | safe }}"
                           title="Base DN, this defines where we will search for users in. For example, DC=duke2,DC=COM would be the correct base dn for the domain duke2.com"/>
                </div>
            </div>

            <div id="manual_details">
                <div class="aformgroup">
                    <span class="aformlabel">Users Manage Groups</span>

                    <div class="aformcontent">
                        <input id="userownedgroupmembership" name="userownedgroupmembership" type="checkbox" {% if ldap.userownedgroupmembership %} CHECKED {% endif %}/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Authenticate using dn</span>

                    <div class="aformcontent">
                        <input name="authenticateuserusingsupplieddn" type="checkbox" {% if ldap.authenticateuserusingsupplieddn %} CHECKED {% endif %}/>
                        <input class="validate" name="userdnattribute" type="text" value="{{ ldap.userdnattribute }}"/>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Username Attribute</span>

                    <div class="aformcontent">
                        <input class="validate" name="usernameattribute" type="text" value="{{ ldap.usernameattribute }}"/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">User Base</span>

                    <div class="aformcontent">
                        <input class="validate" name="userbase" type="text" value="{{ ldap.userbase }}"/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">User Group Attribute</span>

                    <div class="aformcontent">
                        <input class="validate" name="usergroupattribute" type="text" value="{{ ldap.usergroupattribute }}"/>
                    </div>
                </div>

                <div class="aformgroup groupldapdetails">
                    <span class="aformlabel">Group Base</span>

                    <div class="aformcontent">
                        <input class="validate" name="groupbase" type="text" value="{{ ldap.groupbase }}"/>
                    </div>
                </div>
                <div class="aformgroup groupldapdetails">
                    <span class="aformlabel">Group Name Attribute</span>

                    <div class="aformcontent">
                        <input class="validate" name="groupnameattribute" type="text" value="{{ ldap.groupnameattribute }}"/>
                    </div>
                </div>
                <div class="aformgroup groupldapdetails">
                    <span class="aformlabel">Group Member Attribute</span>

                    <div class="aformcontent">
                        <input class="validate" name="groupmembernameattribute" type="text" value="{{ ldap.groupmembernameattribute }}"/>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="aheading">
            <span>Windows WMI Authentication</span>
        </div>

        <div class="abody">
            {% if wmic.wmic_status.online and wmic.wmic_enabled %}
                <div class="positive">
                    <b>Status: </b> Windows audit event integration is connected to all the domain controllers.
                    <br>
                    <br>
                    You can restart the processing by <a href="/device/configuration/authentication/wmi/resetcursor">clicking here</a>.
                </div>
                {% if not wmic.wmic_status.loaded %}
                    <div class="negative">
                        <b>Note: </b> The event stream is still catching up with past events, this can take a few minutes.
                    </div>
                {% endif %}
                <br>
            {% endif %}

            {% if not wmic.wmic_status.online and wmic.wmic_enabled %}
                <div class="negative">
                    <b>Status: </b> We encountered an error while connecting to your Windows Domain Controller.
                    <br>
                    <br>
                    {{ wmic.wmic_status.error }}
                </div>
                <br>
            {% endif %}

            <div class="aformgroup">
                <span class="aformlabel">Enabled</span>

                <div class="aformcontent">
                    <input class="validate" type="checkbox" name="wmic_enabled" {% if wmic.wmic_enabled %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Username</span>

                <div class="aformcontent">
                    <input class="validate" type=text name=wmic_username value="{{ wmic.wmic_username }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Password</span>

                <div class="aformcontent">
                    <input class="validate" type=text name=wmic_password value="{{ wmic.wmic_password }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Domain</span>

                <div class="aformcontent">
                    <input class="validate" type=text name=wmic_domain value="{{ wmic.wmic_domain }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Host</span>

                <div class="aformcontent">
                    <input class="validate" type=text name=wmic_host value="{{ wmic.wmic_host }}"/>
                </div>
            </div>
        </div>
        <br>

        <div class="save-bar">
            <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
            <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
        </div>

    </form>

{% endblock %}