{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-qos");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Add Traffic Shaping Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Add a new traffic shaper rule
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("span").next("div"));
                },

                debug: true,
                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
                rules: {
                    source: {required: false, ipv4: true},
                    sourceMask: {required: false, ipv4: true},
                    sourcePort: {required: false, number: true},
                    destination: {required: false, ipv4: true},
                    destinationMask: {required: false, ipv4: true},
                    destinationPort: {required: false, number: true},
                    upload: {required: false, number: true},
                    download: {required: false, number: true},
                },

                messages: {
                    source: "Enter a valid source IP address",
                    sourceMask: "Enter a valid source mask",
                    sourcePort: "Enter a valid source port",
                    destination: "Enter a valid destination IP address",
                    destinationMask: "Enter a valid destination mask",
                    destinationPort: "Enter a valid destination port",
                    upload: "Enter a valid upload restriction",
                    download: "Enter a valid download restriction",

                }
            })
        });
    </script>

    <form id=form method="POST">

        <div class="aheading">
            <span>Name</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Name</span>

                <div class="aformcontent">
                    <input type="text" name="name" value="{{ rule.name }}"/>
                </div>
            </div>
        </div>

        <br>
        <div class="aheading">
            <span>Criteria</span>
        </div>

        <div class="abody">
            {% include "device_standard_criteria.html" %}
        </div>

        <br>
        <div class="aheading">
            <span>Restrictions</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Cumulative Limiting</span>

                <div class="aformcontent">
                    <input type="checkbox" name="cumulative" {% if not rule or rule.cumulative %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Upload Rate</span>

                <div class="aformcontent">
                    <input type=text name=upload class='validate' value='{{ rule.upload }}' placeholder="B/s"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Download Rate</span>

                <div class="aformcontent">
                    <input type=text name=download class='validate' value='{{ rule.download }}' placeholder="B/s"/>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}