{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network", "network-ids");
            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#interface").val("{{ ids.interface }}");
        })
    </script>

    <style>
    </style>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Intrusion Detection - <span class="beta">BETA Feature</span></a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure the intrusion detection system.
        </div>
    </div>
    <br>

    {% if ids.status %}
        <div class="positive">
            <b>Status: </b> The intrusion detection system is currently running.
        </div>
    {% endif %}

    {% if not ids.status %}
        <div class="negative">
            <b>Status: </b> The intrusion detection system is not currently running.
        </div>
    {% endif %}

    <br>
    <div id="openvpn">
        <div id="settings">
            <form id=form1 method="POST">
                <div class="aheading">
                    <span>General Options</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Enabled:</span>

                        <div class="aformcontent">
                            <input type="checkbox" name="enabled" {% if ids.enabled %} CHECKED {% endif %}/>
                        </div>
                    </div>
                    <div class="aformgroup">
                        <span class="aformlabel">Interface:</span>

                        <div class="aformcontent">
                            <select name="interface" id="interface">
                                {% for device in devices %}
                                    <option value="{{ device.interface }}">{{ device.interface }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}