{% extends "header.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("network", "network-vpn");
    })
</script>


<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="#" class="last">Site-to-Site Vpn Connections</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage vpn servers and gateway connections.
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#form1").validate({
            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                name:{required:true,nowhitespace:true}
            },

            messages:{
            }
        });
    });
</script>

<div>
    <div class="aheading">
        <span>Vpn Instances</span>
    </div>
    <br>

    <div class="abody">
        <form id="form1" name="form1" method=POST>
            <table id="users" class="list border">
                <thead>
                <th>Name</th>
                <th>Status</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for vpn in vpns %}
                <tr>
                    <td><a href="/device/network/vpn/{{vpn.name}}">{{vpn.name}}</a></td>
                    <td>
                        {% if vpn.status == 0 %} <span class="up">ACTIVE</span> {% endif %}
                        {% if vpn.status == 1 %} <span class="changing">ESTABLISHING</span> {% endif %}
                        {% if vpn.status == -1 %} <span class="down">OFFLINE</span> {% endif %}
                    </td>

                    <td>
                        <a href="/device/network/vpn/{{vpn.name}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <td valign="top">
                        <input placeholder="Name" id="name" type="text" name="name" class="validate">
                    </td>
                    <td>-</td>
                    <td><input type=submit id="submit" value="Create Instance"></td>
                </tfoot>
            </table>
        </form>
    </div>
</div>

{%endblock %}