{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-wireless");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Wireless Access Point - <span class="beta">BETA Feature</span></a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage a wireless access point.
        </div>
    </div>
    {% if online %}
        <div class="positive">The hostapd service is online and working</div>
    {% endif %}
    {% if not online %}
        <div class="negative">The hostapd service is currently offline</div>
    {% endif %}
    <br>
    <div>
        <div class="aheading">
            <span>Configuration</span>
        </div>

        <div class="abody">
            <script>
                $(document).ready(function () {
                    $("#form1").validate({
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parent("div"));
                        },

                        rules: {
                            ssid: {required: true, nowhitespace: true},
                        },

                        messages: {
                        },

                        submitHandler: function () {
                            form1.submit();
                        },
                    });
                });
            </script>
            <form id="form1" name="form1" method=POST>
                <div class='aformgroup'><span class='aformlabel'>Enabled:</span>

                    <div class='aformcontent'><input name='enabled' type="checkbox" {% if enabled %} CHECKED {% endif %}>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>SSID:</span>

                    <div class='aformcontent'><input class="validate" id="ssid" name='ssid' placeholder='SSID' value='{{ ssid| safe }}'>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Interface:</span>

                    <div class='aformcontent'>
                        <select name="interface">
                            {% for device in devices %}
                                <option value="{{ device.interface }}" {% if device.interface == interface %} SELECTED {% endif %}>{{ device.interface }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Channel:</span>

                    <div class='aformcontent'>
                        <select name="channel">
                            <option value="1" {% if channel == 1 %} SELECTED {% endif %}>1</option>
                            <option value="2" {% if channel == 2 %} SELECTED {% endif %}>2</option>
                            <option value="3" {% if channel == 3 %} SELECTED {% endif %}>3</option>
                            <option value="4" {% if channel == 4 %} SELECTED {% endif %}>4</option>
                            <option value="5" {% if channel == 5 %} SELECTED {% endif %}>5</option>
                            <option value="6" {% if channel == 6 %} SELECTED {% endif %}>6</option>
                            <option value="7" {% if channel == 7 %} SELECTED {% endif %}>7</option>
                            <option value="8" {% if channel == 8 %} SELECTED {% endif %}>8</option>
                            <option value="9" {% if channel == 9 %} SELECTED {% endif %}>9</option>
                            <option value="10" {% if channel == 10 %} SELECTED {% endif %}>10</option>
                            <option value="11" {% if channel == 11 %} SELECTED {% endif %}>11</option>
                        </select>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Driver:</span>
                    <div class='aformcontent'>
                        <select name="driver">
                            <option value="hostap" {% if driver == "hostap" %} SELECTED {% endif %}>hostap</option>
                            <option value="wired" {% if driver == "wired" %} SELECTED {% endif %}>wired</option>
                            <option value="madwifi" {% if driver == "madwifi" %} SELECTED {% endif %}>madwifi</option>
                            <option value="none" {% if driver == "none" %} SELECTED {% endif %}>none</option>
                            <option value="nl80211" {% if driver == "nl80211" %} SELECTED {% endif %}>nl80211</option>
                            <option value="bsd" {% if driver == "bsd" %} SELECTED {% endif %}>bsd</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}