{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network", "network-vpn");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#local_device").val(
                    "{{ vpn.local_device }}"
            );
            $("#local_shared_device").val(
                    "{{ vpn.local_shared_device }}"
            );
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Viewing Site-to-Site Vpn: {{ vpn.name }} logs</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View the logfile for this vpn instance.
        </div>
    </div>

    <div id="openvpn">
        <div id="log">
            <div class="aheading">
                <span>Logfile</span>
            </div>
            <div id="logview" class="abody" style="overflow-y: scroll; max-height:800px;">
                <p>
                    {{ log| safe }}
                </p>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}