{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network", "network-appfirewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            var data = [];
            {% if rule %}
                $.getJSON("/device/analytics/metrics/firewall.applicationfilter.{{ rule.id }}.average_hits_per_minute", function (dataset) {
                    data = [];
                    for (var i = 0; i < dataset.result.length; i++) {
                        var items = [new Date(dataset.result[i].time * 1000), dataset.result[i].value];
                        data.push(items);
                    }

                    $.plot($("#rule_hits"),
                            [
                                {label: "Average Rule Hits per minute", data: data}
                            ], {
                                xaxis: {mode: 'time'}, lines: {fill: true},
                                grid: {
                                    borderWidth: 1,
                                    borderColor: '#ccc'
                                }

                            });
                });
            {% endif %}

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Add L7 Firewall Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">Add a webfilter rule</div>
    </div>

    <form id="form1" method="POST" action="/device/firewall/webfilter/add{% if rule %}/{{ rule.id }}{% endif %}">
        {% if rule %}
            <div class="aheading">
                <span>Rule Statistics</span>
            </div>

            <div class="aformgroup">
                <div class="aformlabel">Hits Per Minute</div>
                <div class="aformcontent">
                    <div id="rule_hits" style="width:100%; height:150px;"></div>
                </div>
            </div>
        {% endif %}

        <div class="aheading">
            <span>Application Filtering Criteria</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <div class="aformlabel">Name</div>
                <div class="aformcontent">
                    <input name="name" type="text" value="{{ rule.name }}"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel"> Criteria</span>

                <div class="aformcontent">
                    <select style="vertical-align: top;" name="app_type" id="app_type">
                        <option value="app_all_websites" {% if rule.allHttp %} SELECTED {% endif %}>All Websites</option>
                        <option value="app_signatures" {% if rule.signature_enabled %} SELECTED {% endif %}>Signatures</option>
                        <option value="app_websites" {% if rule.listEnabled %} SELECTED {% endif %}>Websites or Website Objects</option>
                    </select>
                    <div id="app_websites_div">
                        <br>
                        <select multiple class="chosen-select" data-placeholder="" name="list" id="list">
                            {% for pool in pools %}
                                {% if pool.type == 2 %}
                                    <option value="{{ pool.id }}">{{ pool.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="app_signatures_div">
                        <br>
                        <a style="vertical-align: top;" href="#" id="signature_open_link">
                            <icon class="icon-search"/>
                        </a>

                        <div id="signature_selector" class="aws_selector">
                            <div id="signature_selector_menu" class="aws_selector_categories"></div>
                            <div id="signature_selector_content" class="aws_selector_items"></div>
                        </div>

                        <select class="chosen-select" multiple name="signature" id="signature">
                            <option value=""></option>
                            {% for signature in signatures %}
                                <option value="{{ signature.id }}">{{ signature.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var signature_selector = new AmazingSelector("signature_selector", "signature");
            $.getJSON("/device/ajax/signatures", function (data) {
                for (var x = 0; x < data.signatures.length; x++) {
                    if (data.signatures[x].is_category) {
                        signature_selector.add_category(data.signatures[x].id, data.signatures[x].name);
                        signature_selector.add_top_option(data.signatures[x].id, data.signatures[x].id, "All " + data.signatures[x].name);
                    }
                }

                for (var x = 0; x < data.signatures.length; x++) {
                    if (!data.signatures[x].is_category) {
                        console.log("adding " + data.signatures[x].id + " to category " + data.signatures[x].category);
                        signature_selector.add_option(data.signatures[x].category, data.signatures[x].id, data.signatures[x].name);
                    }
                }

                signature_selector.init();
            });

            $("#signature_open_link").click(function () {
                signature_selector.open_selector()
            });

            $(function () {

                function initializeApplicationCriteria() {
                    $("#list").val([
                        {% for list in rule.lists%}
                            "{{list}}",
                        {%endfor %}
                    ]);

                    $("#signature").val([
                        {% for sig in rule.signature%}
                            "{{sig}}",
                        {% endfor %}
                    ]);
                }

                initializeApplicationCriteria();

                window.initializeRuleType = function () {
                    var type = $("#app_type").val();
                    if (type == "app_signatures") {
                        $("#app_signatures_div").show();
                        $("#app_websites_div").hide();

                    } else if (type == "app_websites") {
                        $("#app_signatures_div").hide();
                        $("#app_websites_div").show();
                    } else if (type == "app_all_websites") {
                        $("#app_signatures_div").hide();
                        $("#app_websites_div").hide();
                    }
                };
                $("#app_type").change(window.initializeRuleType);
            });
        </script>
        <br>
        {% include "device_standard_criteria.html" %}

        <br>

        <div class="aheading">
            <span>Actions and Options</span>
        </div>

        <div class="abody">

            <div class="aformgroup">
                <span class="aformlabel"> Fire Event </span>

                <div class="aformcontent">
                    <input {% if rule.fireEvent %}CHECKED {% endif %} name='fireEvent' type='checkbox'/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel"> Redirect </span>

                <div class="aformcontent">
                    <input {% if rule.redirect %}CHECKED {% endif %} name='redirect' type='checkbox'/> : <input
                        value="{{ rule.redirectUrl }}" name="redirectUrl" type="text"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel"> Filter Type </span>

                <div class="aformcontent">
                    <select name='action'>
                        <option {% if rule.action == 0 %}SELECTED{% endif %} value=0>Block</option>
                        <option {% if rule.action == 1 %}SELECTED{% endif %} value=1>Allow</option>
                    </select>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                window.initializeRuleType();
            });
        </script>
    </form>

    <br>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="save-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>
{% endblock %}
