<html>
<html>
<head>
    <title>{{ g.productname | safe}}</title>

    {% include "inclusions.html" %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<div id="header">
    <div class="header-inner">
        <a id="applications-menu-link"><img style="max-width: 40px;max-width: 40px;padding-top: 3px; padding-left: 5px;" src="/static/images/LW_Icon.png"/>
        <span class="header-branding">
            {{ g.productname | safe}}
        </span>
        </a>
    </div>
</div>
<div style="padding-left: 10px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
    <hr>
</div>
</body>
</html>
