<html>
<html>
<head>
    <title>{{ g.productname }}</title>

    {% include "inclusions.html" %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

<style>
</style>
<div id="header">
    <div class="header-inner">
        <a id="applications-menu-link"><img class="logo" src="/static/images/LW_Icon.png"/>
        <span class="header-branding">
            {{ g.productname | safe }}
        </span>
        </a>
    </div>
    <span class="header-links">
        <div class="devicetag">{{ g.inheader | safe }}</div>


    </span>
    <span class="logout">
        <a href="http://wiki.sphirewall.net" target="_blank"><i style="color:gray;" class="fa fa-life-ring fa-2x"></i></a>
        <a href="/logout"><i style="color:gray;" class="fa fa-external-link-square fa-2x"></i></a>
    </span>
</div>
<div id="navigation">
    <style>
        .navcontent {
            display: none;
        }

        .navtitle:last-of-type {
            border-bottom: solid 1px #e5e5e5;
        }
    </style>

    <script>
        $(function () {
            window.setTab = function (id, selected_item) {
                // Toggle the current tab off
                $(".navcontent").hide();
                $(".navcontent").removeClass("nav-selected");
                $(".navtitle").removeClass("title-nav-selected");

                var target = $("#" + id).attr("data-item");
                $("#" + target).addClass("nav-selected");
                $("#" + id).addClass("title-nav-selected");
                $("#" + target).show();

                $(".mO span").removeClass("selected");
                $(".mO").removeClass("selected");
                $("#" + selected_item).addClass("selected");
                $("#" + selected_item).parent().addClass("selected");
            }
        });

    </script>
    {% for section in g.navigator.registered_structure %}
        <div data-item="{{ section.id }}-nav" id="{{ section.id }}" class="navtitle">
            <a class="navbar-category-link" href="{{ section.default_path }}">{{ section.name }}</a>
        </div>
        <div class="navcontent" id="{{ section.id }}-nav">
            {% for child in section.children %}
                <a class="mO" href="{{ child.path }}"><span id="{{ section.id }}-{{ child.id }}">{{ child.name }}</span></a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="cool_alert">
                    {{ message | safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>
        $(".cool_alert").click(function () {
            $(this).hide();
        });

        window.setInterval(function () {
            $(".cool_alert").hide();
        }, 5000);
    </script>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
