<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-1.10.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-migrate-1.2.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.dataTables.nightly.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.tooltip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.time.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/date.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/sphirewall.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/additional-methods.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/TableTools.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.pie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/protocols.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.templates.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/linewize.awesometable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/linewize.dateselector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/linewize.amazingselector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.tooltipster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap.js') }}"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/sphirewall_style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/tables.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/navigation.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/jquery-ui-1.10.4.custom.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/TableTools.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/TableTools_JUI.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/chosen.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/linewize.amazingselector.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/tooltipster.css') }}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">