body {
}

.title {
    color: white;
    font-size: 25px;
}

.error {
    color: white;
    font-size: 15px;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.centerblock {
width: 500px;
    margin: 0 auto;
}
